@import "variables";
@import "mixins";

section.social-feed {
  padding: 4rem 0 8rem 0;
  background-color: $white;
  @include bp(md){
    padding: 4rem 0;
  }
  .top-row{
    margin-bottom: 2.4rem;
    row-gap: 1.6rem;
    .col-6{
      display: flex;
      flex-direction: column;
      justify-content: center;
      h3{
        margin-bottom: .4rem;
        text-transform: uppercase;
      }
      h4{
        font-family: 'ItalianPlateItalic', sans-serif;
        font-size: $fs-h3;
        font-weight: 400;
        margin: 0;
      }
      &.socials-col{
        align-items: flex-end;
        @include bp(md){
          align-items: flex-start;          
        }
        .socials{
          display: flex;
          align-items: center;
          gap: 1.6rem;
          a{
            margin: 0;
            filter: invert(1);
            padding: 0;
            &:hover{
              transform: none;
              opacity: .6;
            }
            img{
              &:hover{
                transform: none;
              }
            }
          }
        }
      }
    }
  }
  #sb_instagram{
    overflow: hidden !important;
    @include bp(xl){
        height: auto !important;
      }
    #sbi_load{
      display: none;
    }
    .sbi_type_carousel .fa-clone{
      display: none !important;
    }
    #sbi_images{
      height: 100%;
      padding: 0 !important;
      grid-template-columns: 645px 322px 323px !important;
      grid-template-rows: 403px 403px !important;
      @include bp(xxl){
        grid-template-columns: 555px 277.5px 277.5px !important;
        grid-template-rows: 347px 347px !important;
      }
      @include bp(xl){
        grid-template-columns: 465px 232.5px 232.5px !important;
        grid-template-rows: 290.5px 290.5px !important;
      }
      @include bp(lg){
        grid-template-columns: 1fr 1fr !important;
        grid-template-rows: unset !important;
      }
      .sbi_item{
        &:first-of-type{
          grid-row: span 2;
          @include bp(lg){
            grid-row: auto;
            grid-column: span 2;
          }
          .sbi_photo_wrap{
            height: 100%;
            .sbi_photo{
              height: 100% !important;
            }
          }
        }
        .sbi_photo_wrap{
          height: 100%;
          @include bp(lg){
            height: unset !important;
            width: 100% !important;
            aspect-ratio: 4/5 !important;
            @supports not (aspect-ratio: 4/5){
              height: 100% !important;
            }
          }
            .sbi_photo{
              height: 100% !important;
              @include bp(lg){
                aspect-ratio: 4/5 !important;
                @supports not (aspect-ratio: 4/5){
              height: 100% !important;
            }
              }
                img{
                  height: 100% !important;
                }
            }
          }
      }
    }
  }
}
