$theme-version: 2.1;
$theme-name: "rimrebelion";
$zoom_factor: 1 !default;
$white: #fff !default;
$black: #000 !default;

$col-bg: var(--color-col-bg, #ffffff) !default;
$col-text: var(--color-col-text, #171717) !default;

$topbar-bg: $col-bg !default;
$topbar-color: $col-text !default;

$header-bg: var(--color-header-bg, #ffffff) !default;
$header-color: var(--color-header-color, #171717) !default;

$col-sec: var(--color-secondary, #00bcd4) !default;

$col-danger: var(--color-danger, #f44336) !default;
$col-success: var(--color-success, #4caf50) !default;
$col-warn: var(--color-warn, #ff9800) !default;

$col-sec-l: var(--color-secondary-l, #b2ebf2) !default;

$col-sec-d: var(--color-secondary-d, #0097a7) !default;

$col-prm-c: $white !default;
$col-sec-c: $white !default;

$col-prm-l-c: $black !default;
$col-sec-l-c: $black !default;

$col-prm-d-c: $white !default;
$col-sec-d-c: $white !default;

$popup-overlay: rgba(0, 0, 0, 0.5) !default;

$grid: (
  1: 8.333333%,
  2: 16.66%,
  3: 25%,
  4: 33.33%,
  5: 41.66%,
  6: 50%,
  7: 58.33%,
  8: 66.66%,
  9: 75%,
  10: 83.33%,
  11: 91.666666%,
  12: 100%,
) !default;

$columns-grid: (
  1: 1,
  2: 2,
  3: 3,
  4: 4,
  5: 5,
  6: 6,
  7: 7,
  8: 8,
  9: 9,
  10: 10,
  11: 11,
  12: 12,
) !default;

$grid-gap: 3rem !default;
$grid-card-min-width: 24rem !default;

$bp-sm: 576px !default; 
$bp-md: 768px !default;
$bp-lg: 992px !default; 
$bp-xl: 1200px !default; 
$bp-xxl: 1400px !default; 

$container-sm: 100% !default;
$container-md: 100% !default;
$container-lg: 960px !default;
$container-xl: 1140px !default;
$container-xxl: 1320px !default;

$space-xs: (1rem * 1.6) !default;
$space-sm: (2rem * 1.6) !default;
$space-md: (4rem * 1.6) !default;
$space-lg: (8rem * 1.6) !default;

$space-h1: 4.3rem !default;
$space-h2: 3.4rem !default;

$hr-border-w: 1px;

$fs-mini: calc(1rem * var(--font-size-ratio, 1)) !default;
$fs-small: calc(1.2rem * var(--font-size-ratio, 1)) !default;
$fs-huge: calc(7.4rem * var(--font-size-ratio, 1)) !default;

$lh-1: 1.3 !default;
$lh-2: 1.5 !default;

$fw-light: 300 !default;
$fw-regular: 400 !default;
$fw-semi: 600 !default;
$fw-bold: 700 !default;

$btn-pd: 2.1rem 7.4rem !default;
$btn-pd-mobile: 2.1rem 2.1rem !default;
$btn-bw: 2px !default;
$btn-br: 3px !default;
$btn-fs: calc(1.4rem * var(--font-size-ratio, 1)) !default;

$trans: 0.3s !default;
$trans-h: 0.4s !default;

$grid-columns: 12 !default;
$grid-gutter-width: 1.5rem !default;
$grid-row-columns: 6 !default;

$font-family: var(--font-family, "Roboto");
$font-family-headings: var(--font-family-headings, "GreedNarrow");
$fs-p: calc(1.6rem * var(--font-size-ratio, 1));
$fs-p-l: calc(1.8rem * var(--font-size-ratio, 1));
$fs-p-s: calc(1.3rem * var(--font-size-ratio, 1));
$fs-h1: calc(5.6rem * var(--font-size-ratio, 1));
$fs-h2: calc(4rem * var(--font-size-ratio, 1));
$fs-h3: calc(2.4rem * var(--font-size-ratio, 1));
$fs-h4: calc(2.4rem * var(--font-size-ratio, 1));
$fs-h5: calc(1.4rem * var(--font-size-ratio, 1));
$fs-h6: calc(1.4rem * var(--font-size-ratio, 1)); 
$fs-1: calc(1.4rem * var(--font-size-ratio, 1)) !default;

$fs-sticky-menu: $fs-h4 !default;

$ff-h1: $font-family-headings;
$ff-h2: $font-family-headings;
$ff-h3: $font-family-headings;
$ff-h4: $font-family-headings;
$ff-h5: $font-family-headings;
$ff-h6: $font-family;

$fw-p: 400;
$fw-p-s: 400;
$fw-p-l: 400;
$fw-semibold: 500;
$fw-bold: 700;

$lh-h1: 110%;
$lh-h2: 100%;
$lh-h3: 120%;
$lh-h4: 120%;
$lh-h5: 140%;
$lh-h6: 140%;
$lh-p: 150%;
$lh-p-s: 150%;
$lh-p-l: 150%;

$col-prm: var(--color-primary, #000000); 
$col-prm-l: var(--color-primary, #545454);
$col-prm-d: var(--color-primary, #000000);
$gray100: var(--color-gray100, #F5F5F5);
$gray200: var(--color-gray200, #E3E3E3);
$gray300: var(--color-gray300, #CCC9C9);
$gray400: var(--color-gray400, #A7A7A7);
$gray500: var(--color-gray500, #878787);
$gray600: var(--color-gray600, #727272);
$gray700: var(--color-gray700, #5F5E5E);
$gray800: var(--color-gray800, #515151);
$gray900: var(--color-gray900, #272727);

$col-text-hover: $gray600 !default; 

$fs-header-li: 1.4rem;
$fw-header: 500;
$header-item-active-fw: 500;
$header-pd: 1.5rem 0 1rem;
$header-tt: uppercase;
$sticky-header-pd: 1rem 0;
$header-item-pd: 0 1.6rem;
$header-item-a-pd: 1rem 0;
$header-item-bb: none;
$header-item-active-bb: none;
$header-item-active-col: $col-prm;

$footer-bg: #000000;
$footer-color: #ffffff;

$btn-fs: calc(1.4rem * var(--font-size-ratio, 1));
$btn-fw: 500;
$btn-br: 5px;
$btn-bw: 2px;
$btn-pd: 1.2rem 1.6rem;
$btn-pd-mobile: 1.2rem 1.6rem;
$btn-tt: uppercase;
$btn-lh: 140%;

$btn-bg: #000000;
$btn-col: #ffffff;
$btn-border-col: #000000;
$btn-hover-col: #ffffff;
$btn-hover-bg: #545454;
$btn-hover-border-col: #545454;

$btn-o-hover-bg: #545454;
$btn-o-hover-border-col: #545454;

$btn-l-col: #000000;
$btn-l-bg: #ffffff;
$btn-l-border-col: #ffffff;
$btn-l-hover-col: #ffffff;
$btn-l-hover-bg: #545454;
$btn-l-hover-border-col: #545454;
$btn-l-o-hover-bg: #545454;
$btn-l-o-hover-border-col: #545454;

$br-sm: 4px;

$input-b-w: 1px;
$input-bg: transparent;
$input-b-col: $gray400;
$input-b-radius: $br-sm;
$input-b-col-focus: $gray500;
$input-placeholder-col: $gray500;
$input-padding: 1.2rem 1.4rem;
$input-padding-left-right: 1.4rem;
$input-padding-top-bottom: 1.2rem;

$input-padding-top-bottom-mobile: 1.2rem;
$input-padding-left-right-mobile: 1.4rem;
$input-focus-box-shadow: none;
$inplace-fw: 400;
$inplace-fz: 1.1rem;
$inplace-font-color: $gray400;
$inplace-label-transform-start: 50%;
$inplace-label-transform-end: -50%;
$input-label-padding: 0.8rem;
$checkbox-border-width: 1px;

$space-tiny: 0.8rem;
$space-xs: 1.6rem;
$space-sm: 2.4rem;
$space-md: 3.2rem;
$space-regular: 5.6rem;
$space-lg: 8rem;
$space-xl: 9.6rem;

$checkbox-size: 1.6rem;
$checkbox-border-color: $gray400; 
$checbox-border-radius: 0px;
$checkbox-border-width: 1px;

$product-card-padding: 0;
$product-border-radius: 4px;
$product-trnasition-in: all 0.5s ease-in-out;
$product-trnasition-out: all 0.2s ease-in-out;
$product-img-min-height: auto;
$content-product-thumbnail-padding: 0;
$content-product-thumbnail-img-padding: 0;
$product-button-url: none;
$content-wrap-row-gap: 1rem;
$content-wrap-padding: 1.6rem 0 0 0;
$product-title-size: 2.4rem;
$product-title-weight: $fw-bold;
$product-title-color: $black;
$tags-position-top: 1rem;
$tags-position-left: 1rem;
$product-price-font-family: $font-family;
$product-price-size: 1.4rem;
$product-price-weight: 500;
$product-price-color: $gray900;
$product-stock-size: 1.3rem;
$product-stock-weight: 400;
$in-stock-color: #2ED477;
$on-back-order-color: $col-warn;
$out-of-stock-color: #F46363;

$tags-padding: 4px 16px;
$tags-border-radius: 3px;
$tags-font-family: $font-family;
$tags-font-color: $black;
$tags-font-weight: 400;
$tags-margin-bottom: 0.8rem;
$tags-font-size: 1.1rem;

$tags-special-bg-col: $white;
$tags-new-product-bg-col: $white;
$tags-onsale-bg-col: $white;

$pagination-ff: $font-family;
$pagination-fw: 400;
$pagination-fs: 1.6rem;
$pagination-color: $gray500;
$pagination-color-hover: $col-prm;
$pagintation-next-icon: url(theme-url("/assets/svg/pagination-icon-next.svg"));
$pagintation-prev-icon: url(theme-url("/assets/svg/pagination-icon-prev.svg"));