@import "variables";
@import "mixins";

.component-video-section {
  overflow: hidden;
  .row {
    align-items: stretch;
    &.right {
      flex-direction: row-reverse;
    }
    min-height: 400px;
  }
  .col-6{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &.video-col{
      cursor: pointer;
      &:hover{
        .link-play{
          transform: scale(1.05);
        }
      }
      @include bp(md){
        width: 100%;
        aspect-ratio: 16/9;
        @supports not (aspect-ratio: 16/9) {
          min-height: 300px;
        }
      }
    }
  }
  .btn-wrap{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
  }
  .video-wrap{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    margin-inline: 1.5rem;
    @include bp(md){
      margin-bottom: 2.4rem;
    }
    .link-play{
      inset: 0;
      transform: none;
      width: 100%;
      height: 100%;
      justify-content: center;
      transition: .3s;
      z-index: 1;
      svg{
        @include bp(md){
          width: 60px;
          height: 60px;
        }
      }
    }
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &::before{
      content: '';
      background-color: $black;
      opacity: .4;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
    }
    iframe {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      pointer-events: none;
      user-select: none;
      z-index: -1;
      aspect-ratio: 16/9;
    }
  }
  .content-wrap {
    a.button {
      margin: 0 1rem 1rem 0;
    }
  }
}

.glightbox-container .ginner-container input[type="range"] {
  padding: inherit !important;
  border: inherit !important;
  background-color: transparent !important;
}
