@import "variables";
@import "mixins";

section.hero {
  position: relative;
  padding: $space-md 0;
  z-index: 1;
  height: 550px;
  display: flex;
  align-items: center;
  @include bp(xxl-up){
    height: 650px;
  }
  &::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(90deg, hsla(0, 0%, 0%, 0.55), #00000000);
    z-index: -1;
    @include bp(md){
    background: linear-gradient(180deg, hsla(0, 0%, 0%, 0.55), #00000000);
    }
  }
  .container {
    position: relative;
  }
  .hero-main {
    margin-bottom: $space-xs;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    h1,
    h3{
      text-transform: uppercase;
      color: $white;
      margin-bottom: .3em;
    }
    h3{
      margin-bottom: .2em;
      line-height: normal;
    }
    .desc{
      p{
        color: $white;
        font-family: "ItalianPlateItalic", sans-serif;
        font-size: 2.6rem;
      }
    }
    .button{
      margin-top: 1em;
        font-family: "Helvetica Neue", sans-serif;
        font-weight: 400;
        line-height: normal !important;
      &.btn-background{
        color: $white;
        border: none;
        position: relative;
        background-color: transparent;
        z-index: 1;
        text-align: center;
        padding-left: 1rem;
        border-radius: 0;
        height: 45px;
        text-wrap: nowrap;
        margin: 0;
        margin-left: 30px;
          border-top: 1px solid white;
          line-height: inherit;
          border-bottom: 1px solid white;
          transition: 0s;
          &::before{
            content: '';
            background-image: url(theme-url("/assets/icons/button-right-arrow-white.svg"));
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            transform: rotate(180deg);
            height: 46px;
            width: 28px;
            top: -1.5px;
            bottom: 0px;
            right: calc(100% - 5px);
            position: absolute;
            display: block;
          }
          &::after{
            content: '';
            background-image: url(theme-url("/assets/icons/button-right-arrow-white.svg"));
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            height: 46px;
            width: 28px;
            top: -1.5px;
            bottom: 0px;
            left: calc(100% - 5px);
            position: absolute;
            display: block;
          }
        &:hover{
          color: $col-prm;
          background-color: $white;
          &::before,
          &::after{
            background-image: url(theme-url("/assets/icons/button-right-arrow-white-filled.svg"));
          }
        }
      }
    }
  }
  
}
