@import "variables";
@import "mixins";

.component-video-background {
  overflow: hidden;
    width: 100%;
    height: 100dvh;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 6rem;
  .button{
      margin-top: 1em;
      font-family: 'ItalianPlate', sans-serif;
      opacity: 1;
    }
  .video-wrap{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &::before{
      content: '';
      background-color: $black;
      opacity: .4;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
    }
    iframe {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100vw;
      height: 100vh;
      transform: translate(-50%, -50%) scale(1.2);
      pointer-events: none;
      user-select: none;
      z-index: -1;
    }
  }
  .container{
    margin-top: 15rem;
    @include bp(md){
      margin-top: 10rem;
    }
    &.controls{
      opacity: 0;
    }
    .end{
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: center;
      @include bp(md){
        padding-inline: 2rem;
      }
      .sound-on{
        display: none;
      }
      img{
        cursor: pointer;
        transform-origin: center;
      }
    }
  }
  .container.content{
    margin-top: auto;
  }
  h1{
    color: $white;
    margin-bottom: 2.4rem;
  }
  p{
    font-family: 'ItalianPlate', sans-serif;
    color: $white;
    font-size: $fs-h3;
    margin-bottom: 2.4rem;
    max-width: 70%;
    text-wrap: balance;
    @include bp(md){
      max-width: 100%;
    }
  }
  
}

@media (min-aspect-ratio: 16/9) {
  .component-video-background .video-wrap iframe {
    /* height = 100 * (9 / 16) = 56.25 */
    height: 56.25vw;
  }
}
@media (max-aspect-ratio: 16/9) {
  .component-video-background .video-wrap iframe {
    /* width = 100 / (9 / 16) = 177.777777 */
    width: 177.78vh;
  }
}

