$trianglew: 14px;

#icg-cookie-consent{
	position: fixed !important;
    width: 600px !important;
    border-radius: 0;
    background: $col-prm !important;
    bottom: 0 !important;
    right: 0 !important;
    margin-left: auto !important;
    @include bp(md){
        width: 100% !important;
        border-radius: 5px 5px 0 0 !important;
        bottom: 0 !important;
		    right: 0 !important;
    }
    .col-lg-12{
       @include bp(md){
           padding: 0 !important;
       }
    }
    .title{
        font-weight: 500 !important;
        color: $white;
        text-transform: uppercase;
    }
    .desc p,
    .desc a{
        font-size: $fs-p !important;
        text-transform: none;
        color: $gray300;
        font-weight: $fw-regular !important;
        line-height: 1.5em;
        @include bp(md){
			font-size: 1.2rem !important;
        }
    }
    .wrp{
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: flex-start;
        padding: 2em !important;
        gap: 10px;
        @include bp(md){
            padding: 2em 1em !important;
        }
    }
    .btns{
        display: flex !important;
        align-items: center;
        justify-content: space-between;
        padding: 0;
        margin: 0 !important;
        width: 100%;
        @include bp(md){
            flex-wrap: wrap;
        }
        .button{
           &.btn-enable{
            position: relative;
            height: 47px;
            min-height: 47px;
            min-width: 184px;
            width: 184px;
            display: flex !important;
            align-items: center !important;
            justify-content: center !important;
            text-align: center !important;
            background-color: transparent !important;
            color: $black !important;
            border: none !important;
            z-index: 1;
            &::before{
                content: '';
                background-image: url(theme-url("/assets/icons/buttons/arrow-both/arrow-both-filled-white-m.svg"));
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                top: 0;
                left: 0px;
                height: 47px;
                min-height: 47px;
                min-width: 184px;
                width: 184px;
                position: absolute;
                z-index: -1;
            }
            &:hover, &:focus, &:active{
                color: $black !important;
                &::before{
                    opacity: .8;
                }
            }
            &.small{
                height: 47px;
                min-height: 47px;
                min-width: 140px;
                width: 140px;
                &::before{
                    height: 47px;
                    min-height: 47px;
                    min-width: 140px;
                    width: 140px;
                    background-image: url(theme-url("/assets/icons/buttons/arrow-both/arrow-both-filled-white-s.svg"));
                }
                &:hover, &:focus, &:active{
                    &::before{
                        background-image: url(theme-url("/assets/icons/buttons/arrow-both/arrow-both-filled-white-s.svg"));
                    }
                }
            }
            &.big{
            height: 47px;
            min-height: 47px;
            min-width: 217px;
            width: 217px !important;
            &::before{
                height: 47px;
                min-height: 47px;
                min-width: 217px;
                width: 217px;
                background-image: url(theme-url("/assets/icons/buttons/arrow-both/arrow-both-filled-white-l.svg"));
            }
            &:hover, &:focus, &:active{
                &::before{
                    background-image: url(theme-url("/assets/icons/buttons/arrow-both/arrow-both-filled-white-l.svg"));
                    }
                }
            }
           }
           &.btn-settings,
           &.btn-save{
              color: $white;
              text-decoration: underline;
              padding: 0;
              &:hover{
                background-color: transparent;
                outline: none;
                border-color: transparent;
                box-shadow: none;
                color: $gray500;
              }
           }
        }
    }
    .sections {
        width: 100%;
        position: relative;
        &::before{
            content: 'Cookies details';
            color: $white;
            font-size: $fs-h4;
            line-height: 2;
            font-family: 'ItalianPlate';
        }
        .section{
           margin-bottom: .3em;
           .title{
              font-size: 1.4rem;
              font-family: 'Roboto', sans-serif;
              font-weight: 400 !important;
           }
           .desc p{
               font-size: 1.2rem !important;
           }
           input{
             cursor: pointer !important;
            }
            input[type=checkbox]:disabled{
                background: $col-prm !important;
                &::after{
                    background: $white !important;
                }
            }
            input[type=checkbox]:checked{
                background: $white;
                border-color: $white;
            }
            input[type=checkbox]:checked::after{
                background: $col-prm;
            }
        }
    }
}       