$trianglew: 14px;

#icg-cookie-consent{
	position: fixed !important;
    width: 600px !important;
    border-radius: 0;
    background: $col-prm !important;
    bottom: 0 !important;
    right: 0 !important;
    margin-left: auto !important;
    @include bp(md){
        width: 100% !important;
        border-radius: 5px 5px 0 0 !important;
        bottom: 0 !important;
		    right: 0 !important;
    }
    .col-lg-12{
       @include bp(md){
           padding: 0 !important;
       }
    }
    .title{
        font-weight: $fw-bold !important;
        color: $white;
        text-transform: uppercase;
    }
    .desc p,
    .desc a{
        font-size: $fs-p !important;
        text-transform: none;
        color: $gray300;
        font-weight: $fw-regular !important;
        line-height: 1.5em;
        @include bp(md){
			font-size: 1.2rem !important;
        }
    }
    .wrp{
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: flex-start;
        padding: 2em !important;
        gap: 10px;
        @include bp(md){
            padding: 2em 1em !important;
        }
    }
    .btns{
        display: flex !important;
        align-items: center;
        justify-content: space-between;
        padding: 0;
        margin: 0 !important;
        width: 100%;
        @include bp(md){
            flex-wrap: wrap;
        }
        .button{
           &.btn-enable{
            position: relative;
            margin-right: $trianglew;
            background: $btn-l-bg;
            color: $btn-l-col;
            border-color: $btn-l-border-col;
            &:hover,
            &:focus {
                background: $btn-l-hover-bg;
                color: $btn-l-hover-col;
                border-color: $btn-l-hover-border-col;
            }
            &:after {
                content: '';
                transition: $trans;
                display: inline-block;
                position: absolute;
                right: calc(-#{$trianglew}); //-15px
                top: calc(-#{$btn-bw});
                width: $trianglew;
                height: calc(100% + 2*#{$btn-bw});
                background-color: $btn-l-bg;
                clip-path: polygon(0 0, 0% 100%, 100% 50%);
                border-radius: $btn-br;
            }
            &:hover{
                &::after{
                    background-color: $btn-hover-bg;
                    transition: $trans-h;
                }
            }
            &:before {
                content: '';
                transition: $trans;
                display: inline-block;
                position: absolute;
                left: calc(-#{$trianglew}); //-15px
                top: calc(-#{$btn-bw});
                width: $trianglew;
                height: calc(100% + 2*#{$btn-bw});
                background-color: $btn-l-bg;
                clip-path: polygon(100% 0, 0 50%, 100% 100%);
                border-radius: $btn-br;
                }
                &:hover{
                    &::before{
                        background-color: $btn-hover-bg;
                        transition: $trans-h;
                    }
                }
           }
           &.btn-settings,
           &.btn-save{
              color: $white;
              text-decoration: underline;
              padding: 0;
              &:hover{
                background-color: transparent;
                outline: none;
                border-color: transparent;
                box-shadow: none;
                color: $gray500;
              }
           }
        }
    }
    .sections {
        width: 100%;
        position: relative;
        &::before{
            content: 'Cookies details';
            color: $white;
            font-size: $fs-h4;
            line-height: 2;
        }
        .section{
           margin-bottom: .3em;
           .title{
              font-size: 1.6rem;
              font-weight: 400 !important;
           }
           .desc p{
               font-size: 1.2rem !important;
           }
           input{
             cursor: pointer !important;
            }
            input[type=checkbox]:disabled{
                background: $col-prm !important;
                &::after{
                    background: $white !important;
                }
            }
            input[type=checkbox]:checked{
                background: $white;
                border-color: $white;
            }
            input[type=checkbox]:checked::after{
                background: $col-prm;
            }
        }
    }
}       