
.xoo-el-form-container button.btn.button.xoo-el-action-btn{
  position: relative;
    height: 47px;
    min-height: 47px;
    min-width: 300px !important;
    width: 300px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    text-align: center !important;
    background-color: transparent !important;
    color: $white !important;
    border: none !important;
    z-index: 1;
    margin: auto !important;
    &::before{
      content: '';
      background-image: url(theme-url("/assets/icons/buttons/arrow-both/arrow-both-filled-black-custom.svg"));
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      top: 0;
      left: 0px;
      height: 47px;
      min-height: 47px;
      min-width: 300px;
      width: 300px;
      position: absolute;
      z-index: -1;
    }
    &:hover, &:focus, &:active{
      color: $white !important;
      &::before{
        opacity: .8;
      }
    }
}

.xoo-el-form-container .xoo-el-section{
  padding-left: 0;
}

.xoo-el-form-container .xoo-aff-group{
  width: 100% !important;
}

.woocommerce-account .xoo-el-form-container{
  padding: $space-lg 0 !important;
}
.xoo-el-modal,
.xoo-el-form-container{
  .xoo-el-form-txt{
    color: $gray500;
  }
  .xoo-aff-pw-toggle{
    > *{
      line-height: normal;
    }
  }
  .xoo-el-main,
  .xoo-el-fields{
    a{
      color: $gray500;
      font-size: 1.3rem;
      font-weight: $fw-regular;
      transition: .3s;
      &:hover{
        color: $col-prm;
      }
    }
    label{
      margin-top: -3px;
      font-size: 1.3rem;
      font-weight: $fw-regular;
      color: $gray500;
      line-height: normal;
      cursor: pointer;
      span{
        color: $gray500;
        line-height: normal;
        font-size: 1.3rem;
        font-weight: $fw-regular;
      }
      input{
        margin-bottom: -3px;
      }
    }

    .xoo-aff-label{
      margin: 0;
      @include inplace-label;
      background-color: $white;
    }
  }
  .xoo-el-close{
    right: 16px;
    top: 16px;
    border-radius: 0;
    background-color: $col-prm;
    width: 26px;
    height: 26px;
    min-width: 26px;
    min-width: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
    &:hover{
      background-color: $gray800;
    }
    &::before{
      color: $white;
    }
  }
  .xoo-el-tabs{
    align-items: center;
    justify-content: center;
    gap: 4rem;
    padding-bottom: 0 !important;
    li{
      background-color: transparent !important;
      color: $gray500 !important;
      text-decoration: underline;
      padding: 12px 0 !important;
      flex-grow: unset !important;
      font-size: $fs-p !important;
      font-weight: $fw-regular !important;
      transition: .3s;
      &:hover{
        color: $col-prm !important;
      }
      &.xoo-el-active{
        color: $col-prm !important;
      }
    }
  }
}