@import "variables";
@import "mixins";
$trianglew: 14px;

// MY ACCOUNT
.woocommerce-account {
  section.header{
    height: 227px;
    width: 100%;
    position: relative;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
    .woocommerce {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      flex-wrap: wrap;
      background-color: #F8F8F8;
      .my-account-profile {
        flex: 1 0 100%;
        max-width: 100%;
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: flex-start;
        @include bp("md") {
          margin: 0 -15px;
          padding: 23px 15px;
          background: $col-bg;
          flex: calc(100% + 30px);
          max-width: calc(100% + 30px);
          order: 1;
        }
        .my-account-profile-photo {
          flex: 1 0 50px;
          max-width: 50px;
          margin-right: 2rem;
        }
        .my-account-profile-content {
          .profile-name {
            color: $col-prm;
            font-weight: $fw-regular;
            margin-bottom: 10px;
            display: block;
          }
          a {
            display: block;
            text-transform: none;
          }
        }
      }

      .my-account-nav-wrap{
        height: 100%;
        position: sticky;
      top: 80px;
      left: 0;
      padding: 3em 40px 20px 40px;
      height: fit-content;
      background-color: $white;
      @include bp("lg") {
        position: relative;
        top: unset;
        left: unset;
        padding: 3em 15px 20px 15px;  
      }
      h3{
        text-transform: uppercase;
      }
      .contact-info{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 10px;
        @include bp(md){
          margin-top: 2em;
        }
        .email-btn,
        .phone-btn{
          width: 100%;
          text-decoration: none;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          gap: 10px;
        }
      }
      ul{
        padding: 0;
        li{
          list-style-type: none;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          gap: 10px;
          position: relative;
          border-bottom: 1px solid $gray200;
          &:last-child{
            border-bottom: none;
          }
          &:has(a:hover){
            a{
              background-color: $col-prm;
              opacity: 1;
              color: $white;
            }
            img{
              filter: invert(1);
            }
          }
          &:has(a.active){
            img{
              filter: invert(1);
            }
          }
          img{
            position: absolute;
            pointer-events: none;
            top: auto;
            left: 16px;
            width: 16px;
            height: 16px;
            min-height: 16px;
            min-width: 16px;
            transition: .3s;
          }
          a{
            padding: 1em 0;
            padding-left: 40px;
            text-decoration: none;
            text-transform: uppercase;
            width: 100%;
            font-weight: $fw-semi;
            font-size: $fs-p-s;
            &.active{
              background-color: $col-prm;
              color: $white;
            }
          }
        }
      }
      a {
        text-transform: none;
        color: $gray900;
        transition: 0.3s;
        font-weight: $fw-regular;
        font-size: $fs-p;
        &:hover {
          opacity: 0.8;
        }
      }
      }
      .my-account-navigation-wrap {
        flex: 1 0 100%;
        max-width: 100%;
        margin: 0 0 4rem;
        position: relative;
        @include bp("md") {
          margin-bottom: 0rem;
          order: 3;
          text-align: center;
        }
        .woocommerce-MyAccount-navigation {
          float: unset;
          width: unset;
          > ul {
            padding: 0;
            margin: 0;
            list-style: none;
            border: none !important;
            > li {
              &.is-active {
                a {
                  color: $white;
                  background-color: $col-prm;
                  border-color: $col-prm;
                  &::after{
                    background-color: $col-prm;
                  }
                  &::before{
                    filter: invert(1);
                  }
                }
              }
              a {
                text-decoration: none;
                display: block;
                color: $col-prm;
                text-transform: uppercase;
                position: relative;
                font-weight: $fw-p;
                border: none;
                &::before{
                  content: '';
                  background-image: url(theme-url('/assets/svg/my-orders.svg'));
                  width: 16px;
                  height: 16px;
                  min-height: 16px;
                  min-width: 16px;
                  background-repeat: no-repeat;
                  background-position: center;
                  background-size: contain;
                  display: block;
                  position: absolute;
                  top: auto;
                  left: 16px;
                  transition: .3s;
                }
                position: relative;
                margin-right: $trianglew;
                border: 1px solid transparent;
                border-radius: 0 1px 1px 0;
                &:after {
                  content: '';
                  transition: inherit;
                  display: inline-block;
                  position: absolute;
                  right: calc(-#{$trianglew}); //-15px
                  top: calc(-#{$btn-bw});
                  width: $trianglew;
                  height: calc(100% + 2*#{$btn-bw});
                  background-color: transparent;
                  clip-path: polygon(0 0, 0% 100%, 100% 50%);
                  border-radius: $btn-br;
                }
              }
              &:last-child {
                a {
                  border-bottom: none;
                }
              }
              &:hover {
                a {
                  color: $white;
                  &::after{
                    background-color: $col-prm;
                  }
                  &::before{
                    filter: invert(1);
                  }
                }
              }
              &.woocommerce-MyAccount-navigation-link--helper-order,
              &.woocommerce-MyAccount-navigation-link--helper-account {
                pointer-events: none;
                a {
                  color: $col-prm;
                  text-transform: none;
                  font-size: $fs-p;
                  font-weight: $fw-semi;
                }
              }
              &.woocommerce-MyAccount-navigation-link--helper-account {
                margin-top: 3rem;
              }
              &.woocommerce-MyAccount-navigation-link--edit-account,
              &.woocommerce-MyAccount-navigation-link--edit-address,
              &.woocommerce-MyAccount-navigation-link--zmena-hesla {
                a {
                  text-transform: none;
                }
              }
              &.woocommerce-MyAccount-navigation-link--downloads{
                a{
                  &::before{
                    background-image: url(theme-url('/assets/svg/my-downloads.svg'));
                  }
                }
              }
              &.woocommerce-MyAccount-navigation-link--edit-address{
                a{
                  &::before{
                    background-image: url(theme-url('/assets/svg/addresses.svg'));
                  }
                }
              }
              &.woocommerce-MyAccount-navigation-link--edit-account{
                a{
                  &::before{
                    background-image: url(theme-url('/assets/svg/account-details.svg'));
                  }
                }
              }
              &.woocommerce-MyAccount-navigation-link--customer-logout{
                a{
                  &::before{
                    background-image: url(theme-url('/assets/svg/log-out.svg'));
                  }
                }
              }
            }
          }
        }
        @include bp("md") {
          flex: 1 0 100%;
          max-width: 100%;
        }
      }
      .woocommerce-MyAccount-content {
        float: unset;
        flex: 1 0 100%;
        max-width: 100%;
        width: 100%;
        margin-bottom: 4rem;
        padding-top: 3em;
        @include bp("lg") {
          flex: 1 0 100%;
          max-width: 100%;
          order: 2;
          border-top: 1px solid $gray200;
          padding-bottom: 2rem;
          padding-top: 2em;
          margin-bottom: 2rem;
        }
        .error-message{
          color: $col-danger;
          font-size: 1.3rem;
          font-weight: $fw-regular;
        }
        h3,
        h4 {
          margin-bottom: 1rem;
          color: $col-prm;
        }
        .woocommerce-notices-wrapper {
          .woocommerce-error {
            padding: 0;
            margin: 0;
            background-color: $col-sec;
            padding: 15px 19px;
            margin-bottom: 2rem;
            li {
              list-style: none;
              color: $white;
            }
          }
        }
        .woocommerce-message {
          margin-bottom: 2rem;
          background-color: transparent;
          border: none !important;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          gap: 20px;
          row-gap: 10px;
          flex-wrap: wrap-reverse;
          @include bp('lg'){
            padding: 1em 0;
          }
          &::before,
          &::after {
            content: none;
          }
        }
      }
    }
}
// MY ACCOUNT

span.orders-history{
    &:not(:has(.orders-completed)){
      display: none;
    }
}
span.active-orders{
    &:not(:has(.active-order)){
      display: none;
    }
}
.woocommerce-orders-table,
.account-orders-table-single {
  width: 100%;
  .woocommerce-orders-table__row {
    border-bottom: 1px solid $gray200;
    @include bp("md") {
      display: flex;
      flex-direction: column;
      align-items: center;
      align-content: center;
      border-bottom: none;
      border-top: 1px solid $gray200;
    }
    &.orders-completed{
      .completed{
        color: $col-success !important;
      }
      .refunded{
        color: $col-danger !important;
      }
    }
    .woocommerce-orders-table__cell {
      padding: 1rem 0 2rem;
      position: relative;
      text-align: left;
      vertical-align: middle;
      color: $gray900;
      font-weight: $fw-semi;
      @include bp("md") {
        width: 100%;
        padding: 1rem 0 1rem;
      }
      &::after {
        content: "";
        position: absolute;
        right: -1px;
        top: 50%;
        width: 1px;
        height: 50%;
        background: $gray100;
        transform: translate(0, -50%);
        @include bp("md") {
          height: 1px;
          bottom: -1.5px;
          top: auto;
          width: 100%;
          &:last-child {
            content: none;
          }
        }
      }
      .order-legend {
        display: block;
        font-size: $fs-p-s;
        color: $gray200;
        font-weight: $fw-regular;
      }
      &.woocommerce-orders-table__cell-order-actions {
        text-align: center;
        @include bp("md") {
          text-align: left;
        }
      }
      &.woocommerce-orders-table__cell-order-status{
        &.completed,
        &.pending{
          color: $col-success !important;
        }
        &.cancelled,
        &.refunded,
        &.failed{
          color: $col-danger !important;
        
        }
      }
    }
    .button {
      margin: 0;
      padding: 10px 1rem;
      @include bp("md") {
        padding: 1rem 2rem;
        width: 100%;
      }
      &.pay {
        color: $col-prm;
        padding: 0;
        background: transparent;
        border: none;
        box-shadow: none;
        display: block;
        margin-bottom: 10px;
        &:hover {
          color: $gray900;
        }
      }
      &.cancel {
        color: $gray100;
        padding: 0;
        background: transparent;
        border: none;
        box-shadow: none;
        display: block;
        margin-top: 10px;
        &:hover {
          color: $gray900;
        }
      }
    }
    .woocommerce-orders-table__cell-order-status {
      color: $col-sec;
    }
    &.woocommerce-orders-table__row--status-completed {
      .woocommerce-orders-table__cell-order-status {
        color: green;
      }
    }
    &.woocommerce-orders-table__row--status-cancelled {
      .woocommerce-orders-table__cell-order-status {
        color: red;
      }
    }
  }
  .spacer {
    height: 2rem;
  }
}

.woocommerce-edit-account{
  h5{
    text-transform: uppercase;
    margin-bottom: 24px;
  }
}

.edit-account-form{
  margin-bottom: 24px;
}
.edit-account-form,
.edit-address-form {
  .message{
    color: $gray500;
    font-size: 1.1rem;
    font-weight: $fw-regular;
  }
  label {
    display: block;
    font-size: $fs-p;
    color: $gray400;
    font-weight: $fw-regular;
    span {
      font-size: $fs-p;
    }
  }
  input {
    padding: 15px 19px;
    color: $gray600;
    min-width: 250px;
    border-radius: 0;
    width: 100%;
    border: none;
    @include bp("md") {
      border: 1px solid $gray200;
    }
  }
  label.inplace-label{
    position: relative !important;
    margin: 0 0 10px 0 !important;
    padding: 0 !important;
    transform: none !important;
  }
  .button {
    min-width: 250px;
    width: auto;
    margin-top: 24px;
    @include bp("md") {
      width: 100%;
    }
  }
  .form-submit{
    flex: 1 0 100%;
    max-width: 100%;
    @include bp("md") {
      flex: unset;
      max-width: unset;
    }
    .button{
      width: fit-content;
    }
  }
  .woocommerce-address-fields__field-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    row-gap: 24px;
    justify-content: flex-start;
    .form-row {
      flex: 1 0 calc(50% - 15px);
      max-width: calc(50% - 15px);
      position: relative;
      margin: 0;
      @include bp("md") {
        flex: 1 0 100%;
        max-width: 100%;
      }
      &#billing_company_field{
        display: none;
      }
      label{
        position: absolute !important;
        top: -6px;
        left: 12px;
        font-size: 1.1rem;
        padding: 0 5px !important;
        margin: 0 !important;
        opacity: 1 !important;
        line-height: normal;
        background-color: #F8F8F8;
        font-weight: $fw-regular;
        z-index: 1;
        .optional{
          font-size: 1.1rem;
          font-weight: inherit;
          line-height: normal;
        }
      }
      input{
        color: $col-prm;
        max-width: unset;
        margin: 0;
      }
    }
  }
}

.form-row {
        flex: 1 0 100%;
        max-width: 100%;
        width: 100% !important;
    }

.woocommerce-Addresses {
  @include bp("md") {
    margin: 0;
  }
  .woocommerce-Address {
    padding: 0 1.5rem;
  }
  .header{
    margin-bottom: $space-md;
  }
  h2{
    color: $col-prm;
    text-transform: uppercase;
    margin-bottom: .3em;
  }
  p{
    margin: 0;
    color: $gray500;
  }
  .row{
    width: 100%;
    margin: 0;
  }
  .address-wrapper {
    background-color: $white;
    border-radius: 4px;
    width: auto;
    padding: 16px;
    margin: 0rem 0 2rem 0rem;
    position: relative;
    color: $gray400;
    @include bp("md") {
      margin: 0 0 2rem 0;
    }
    .edit {
      text-transform: none;
    }
    address,
    .edit{
      color: $gray500;
      font-size: 1.3rem;
      font-weight: $fw-regular;
    }
  }
}

.woocommerce-order-details {
  h3{
    text-transform: uppercase;
  }
  .woocommerce-order-details-hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 3rem;
    margin: 0;
    @include bp("md") {
      margin: 0;
    }
    .button {
      margin: 0;
      background: none !important;
      border: none;
      padding: 0;
      transition: .3s;
      &:hover{
        transform: translateX(-5px);
      }
      @include bp("md") {
        width: 100%;
        margin: 2rem 0;
        text-decoration: none;
        border: 1px solid #dbdbdb;
        color: #656565;
      }
    }
  }
  .woocommerce-order-details-info {
    address {
      color: $gray500;
      font-size: 1.3rem;
      font-weight: $fw-regular;
      padding: 16px;
      background-color: $white;
      border-radius: 4px;
      p:first-of-type{
        border-top: 1px solid $gray500;
        margin-top: .5em;
        padding-top: .5em;
      }
      p{
        margin: 0;
        color: $gray500;
        font-size: 1.3rem;
        font-weight: $fw-regular;
      }
    }
    section.woocommerce-customer-details {
      width: 100%;
      .woocommerce-columns--addresses {
        display: flex;
        flex-wrap: wrap;
        gap: 18px;
        @include bp("md") {
          flex-direction: column;
        }
        .woocommerce-column {
          flex: 1 0 calc(33.33% - 12px);
          max-width: calc(33.33% - 12px);
          @include bp("md") {
            flex: 1 0 100%;
            max-width: 100%;
            padding: auto;
          }
          .woocommerce-column__title {
            text-transform: uppercase;
          }
        }
      }
    }
  }
  .woocommerce-order-details-products {
    margin: 1rem 0 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2px;
    .product-wrapper {
      background-color: $white;
      border-radius: 4px;
      display: grid;
      grid-template-columns: repeat(9, 1fr);
      width: 100%;
      padding: 16px;
      position: relative;
      @include bp("md") {
        grid-template-columns: repeat(6, 1fr);
      }
      .item-thumbnail{
        height: 100px;
        width: 100px;
        aspect-ratio: 1/1;
        position: relative;
        @include bp("md") {
          height: 50px;
          width: 50px;
        }
        img{
          width: 100px;
          height: 100px;
          aspect-ratio: 1/1;
          object-fit: contain;
          @include bp("md") {
            height: 50px;
            width: 50px;
          }
        }
      }
      .item-qty {
        text-align: right;
      }
      .item-info{
        grid-column: span 3;
        padding-inline: 16px;
        a {
          font-weight: $fw-regular;
          font-size: $fs-p;
          text-decoration: none;
          text-transform: none;
          color: $col-prm;
          &:hover {
            color: $col-prm-d;
          }
        }
        .wc-item-meta{
          padding: 0;
          li{
            list-style-type: none;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 3px;
            color: $gray400 !important;
            font-size: 1.3rem !important;
            font-weight: $fw-regular !important;
            p{
              margin: 0;
              color: $gray400 !important;
              font-size: 1.3rem !important;
            font-weight: $fw-regular !important;
            }
          }
        }
      }
      .item-qty{
        grid-column: span 2;
          @include bp("md") {
          grid-column: span 1;
        }
      }
      .item-price{
        grid-column: span 3;
          @include bp("md") {
          grid-column: span 1;
        }
      }
      .item-price {
        font-weight: $fw-regular;
        font-size: $fs-p;
        text-align: right;
      }
    }
  }
  .woocommerce-order-details-summary {
    margin: 0;
    .summary-item {
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding: 0.5rem 0 40px;
      border-bottom: 1px solid $gray500;
      @include bp("md") {
        flex: 1 0 100%;
        max-width: 100%;
        padding: 1rem 0;
        margin: 0;
      }
      .summary-label {
        display: block;
        font-weight: $fw-bold;
        font-size: $fs-h3;
        color: $col-prm;
        text-transform: uppercase;
      }
      .summary-text {
        display: block;
        font-weight: $fw-bold;
        font-size: $fs-h3;
        color: $col-prm;
        text-transform: uppercase;
      }
    }
  }
}
.order-legend-info {
  margin-bottom: 2.5rem;
  margin-top: 1.5rem;
  @include bp("md") {
    margin-left: 0;
  }

}

.change_password_form {
  .button {
    padding: 1rem 4rem;
    @include bp("md") {
      width: 100%;
    }
  }
  input[type="password"] {
    -webkit-text-security: disc;
    padding: 15px 19px;
    min-width: 250px;
    border-radius: 0;
    display: block;
    width: 100%;
    border: none;
    max-width: 32%;
    margin-bottom: 1.5rem;
    color: $gray400;
    font-size: $fs-p;
    @include bp("md") {
      width: 100%;
      max-width: 100%;
      border: 1px solid $col-bg;
    }
  }
}

.woocommerce .woocommerce-MyAccount-content{
  .woocommerce-order-details{
.woocommerce-order-details-summary{
      .summary-item{
        &:last-child{
          background: none;
        }
      }
    }
  }
  .woocommerce-order-details-info{
    margin: 0;
    address{
      border: none;
    }
    
  }

  .customer-note{
    color: $gray500;
  }

.woocommerce-order-details-footer{
  margin-top: $space-md;
  .btn{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    svg{
      transition: .3s;
    }
    &:hover{
      color: $col-prm;
      svg{
        transform: translateX(-5px);
      }
    }
  }
}

  table.my_account_orders,
  table.account-orders-table-single{
    border: none;
    border-collapse: collapse;
    .woocommerce-orders-table__row{
      background-color: $white;
      border: none !important;
    }
    .woocommerce-orders-table__cell{
      padding: 1em;
      font-size: 1.3rem;
      font-weight: $fw-regular;
      color: $gray500;
      &.woocommerce-orders-table__cell-order-status{
        color: #FF9138;
      }
      .button{
        padding: 4px;
        background-color: transparent;
        border-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        width: fit-content;
        margin-left: auto;
        transition: .3s;
        border-radius: 0;
        svg{
          path{
            transition: .3s;
          }
        }
        &:hover{
          background-color: $black;
          border-color: $black;
          svg{
            path{
              fill: $white;
            }
          }
        }
        &::after{
          content: none !important;
        }
      }
      &::after{
        content: "";
        position: absolute;
        right: -1px;
          top: 50%;
          width: 1px;
          height: 50%;
          background: #F5F5F5;
          transform: translate(0, -50%);
          background: $gray300 !important;
          @include bp(md){
            content: none;
          }
      }
      &:last-child{
        &::after{
          content: none;
        }
      }
    }
    .orders-table-headings{
      @include bp(md){
        display: none;
      }
      td{
        font-size: 1.1rem;
        font-weight: $fw-regular;
        span{
          color: $black !important;
        }
        &:first-child{
          padding: 0;
        }
      }
    }
  }
}

.my-account-profile {
  position: relative;
}
#my-account-navigation {
  display: block;
  @include bp("md") {
    text-align: left;
  }
}
