@import "variables";
@import "mixins";
@import "./contact-form.scss";
@import './cookie-banner.scss';
@import './my-account-popup.scss';

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

@font-face {
  font-family: "GreedNarrow";
  src: local("GreedNarrow"), local("GreedNarrow"), url(theme-url("/assets/fonts/GreedNarrow-Bold.otf")) format("opentype");
}

@font-face {
  font-family: "ItalianPlateItalic";
  src: local("ItalianPlateItalic"), local("ItalianPlateItalic"), url(theme-url("/assets/fonts/ItalianPlateNo4Expanded-Italic.otf")) format("opentype");
}

@font-face {
  font-family: "ItalianPlate";
  src: local("ItalianPlate"), local("ItalianPlate"), url(theme-url("/assets/fonts/ItalianPlateNo4Expanded-Regular.otf")) format("opentype");
}

em,
i{
  font-family: 'ItalianPlateItalic', sans-serif;
  font-size: larger;
}

.m-auto{
  margin: auto;
}

html[lang="sk-SK"] {
  .product-search-results table.search-results{
    .entry{
      display: none;
    }
    .entry{
      &:has(.product-info a[href*="lang=sk"]){
        display: block;
      }
    }
  }
}


html[lang="en-US"] {
  .product-search-results table.search-results{
    .entry{
      display: block;
      &:has(.product-info a[href*="lang=sk"]){
        display: none;
      }
    }
  }
}

.product-search-results table.search-results{
  .entry.s_more{
    display: block !important;
  }
}

.cdc-logo{
  object-fit: contain;
  max-height: 40px;
  margin-bottom: 1.6rem;
}

.stock-status {
          span {
            font-size: 1.3rem;
            &.instock {
              color: #2ED477;
            }
            &.dosedemdni {
              color: #ddcd00;
            }
            &.onbackorder {
              color: #a86900;
            }
            &.outofstock {
              color: #a80000;
            }
          }
        }

.product-search-results table.search-results{
  .more-info{
    .title{
      position: relative;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: .8rem;
      &::after{
        content: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.6875 6.53125L8.09375 3.125L8.75 3.78125L4.6875 7.875L0.625 3.8125L1.28125 3.15625L4.6875 6.53125Z' fill='%23878787'/%3E%3C/svg%3E");
        display: block;
        position: relative;
        
      }
    }
  }
}

body{
  background-color: #F8F8F8;
}

$trianglew: 14px;
a.button, button {
  border-top: 1px solid $black;
  border-bottom: 1px solid $black;
  text-wrap: nowrap;
  border-width: 1px !important;
  &.triangleright {
    position: relative;
    height: 47px;
    min-height: 47px;
    min-width: 184px;
    width: 184px;
    display: flex !important;
    align-items: center !important;
    justify-content: flex-start !important;
    text-align: left !important;
    background-color: transparent !important;
    color: $black !important;
    border: none !important;
    z-index: 1;
    &::before{
      content: '';
      background-image: url(theme-url("/assets/icons/buttons/arrow-right/arrow-right-outline-black-m.svg"));
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      top: 0;
      left: 0px;
      height: 47px;
      min-height: 47px;
      min-width: 184px;
      width: 184px;
      position: absolute;
      z-index: -1;
    }
    &:hover, &:focus, &:active{
      color: $white !important;
      &::before{
        background-image: url(theme-url("/assets/icons/buttons/arrow-right/arrow-right-filled-black-m.svg"));
      }
    }
    &.small{
      height: 47px;
      min-height: 47px;
      min-width: 140px;
      width: 140px;
      &::before{
        height: 47px;
        min-height: 47px;
        min-width: 140px;
        width: 140px;
        background-image: url(theme-url("/assets/icons/buttons/arrow-right/arrow-right-outline-black-s.svg"));
      }
      &:hover, &:focus, &:active{
        &::before{
          background-image: url(theme-url("/assets/icons/buttons/arrow-right/arrow-right-filled-black-s.svg"));
        }
      }
    }
    &.big{
      height: 47px;
      min-height: 47px;
      min-width: 217px;
      width: 217px !important;
      &::before{
        height: 47px;
        min-height: 47px;
        min-width: 217px;
        width: 217px;
        background-image: url(theme-url("/assets/icons/buttons/arrow-right/arrow-right-outline-black-l.svg"));
      }
      &:hover, &:focus, &:active{
        &::before{
          background-image: url(theme-url("/assets/icons/buttons/arrow-right/arrow-right-filled-black-l.svg"));
        }
      }
    }
    &.light{
      background-color: transparent !important;
      color: $white !important;
      border: none !important;
      &::before{
        background-image: url(theme-url("/assets/icons/buttons/arrow-right/arrow-right-outline-white-m.svg"));
      }
      &:hover, &:focus, &:active{
        color: $black !important;
          &::before{
          background-image: url(theme-url("/assets/icons/buttons/arrow-right/arrow-right-filled-white-m.svg"));
        }
      }
      &.small{
        &::before{
          background-image: url(theme-url("/assets/icons/buttons/arrow-right/arrow-right-outline-white-s.svg"));
        }
        &:hover, &:focus, &:active{
          &::before{
            background-image: url(theme-url("/assets/icons/buttons/arrow-right/arrow-right-filled-white-s.svg"));
          }
        }
      }
      &.big{
        &::before{
          background-image: url(theme-url("/assets/icons/buttons/arrow-right/arrow-right-outline-white-l.svg"));
        }
        &:hover, &:focus, &:active{
          &::before{
            background-image: url(theme-url("/assets/icons/buttons/arrow-right/arrow-right-filled-white-l.svg"));
          }
        }
      }
    }
    &.white{
      background-color: transparent !important;
      color: $black !important;
      border: none !important;
      &::before{
        background-image: url(theme-url("/assets/icons/buttons/arrow-right/arrow-right-filled-white-m.svg"));
      }
      &:hover, &:focus, &:active{
        color: $black !important;
          &::before{
          opacity: .8;
        }
      }
      &.small{
        &::before{
          background-image: url(theme-url("/assets/icons/buttons/arrow-right/arrow-right-filled-white-s.svg"));
        }
      }
      &.big{
        &::before{
          background-image: url(theme-url("/assets/icons/buttons/arrow-right/arrow-right-filled-white-l.svg"));
        }
      }
    }
    &.black{
      background-color: transparent !important;
      color: $white !important;
      border: none !important;
      &::before{
        background-image: url(theme-url("/assets/icons/buttons/arrow-right/arrow-right-filled-black-m.svg"));
      }
      &:hover, &:focus, &:active{
        color: $white !important;
          &::before{
          opacity: .8;
        }
      }
      &.small{
        &::before{
          background-image: url(theme-url("/assets/icons/buttons/arrow-right/arrow-right-filled-black-s.svg"));
        }
      }
      &.big{
        &::before{
          background-image: url(theme-url("/assets/icons/buttons/arrow-right/arrow-right-filled-black-l.svg"));
        }
      }
    }
    &.huge{
      height: 45px;
      min-height: 45px;
      min-width: 288px;
      width: 288px !important;
      &::before{
        height: 45px;
        min-height: 45px;
        min-width: 288px;
        width: 288px;
        background-image: url(theme-url("/assets/icons/buttons/arrow-right/arrow-right-filled-black-custom.svg"));
      }
      &:hover, &:focus, &:active{
        &::before{
        background-image: url(theme-url("/assets/icons/buttons/arrow-right/arrow-right-filled-black-custom.svg"));
          opacity: .8;
        }
      }
    }
  }
  &.triangleBoth {
    position: relative;
    height: 47px;
    min-height: 47px;
    min-width: 184px;
    width: 184px;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    text-align: center !important;
    background-color: transparent !important;
    color: $black !important;
    border: none !important;
    z-index: 1;
    &::before{
      content: '';
      background-image: url(theme-url("/assets/icons/buttons/arrow-both/arrow-both-outline-black-m.svg"));
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      top: 0;
      left: 0px;
      height: 47px;
      min-height: 47px;
      min-width: 184px;
      width: 184px;
      position: absolute;
      z-index: -1;
    }
    &:hover, &:focus, &:active{
      color: $white !important;
      &::before{
        background-image: url(theme-url("/assets/icons/buttons/arrow-both/arrow-both-filled-black-m.svg"));
      }
    }
    &.small{
      height: 47px;
      min-height: 47px;
      min-width: 140px;
      width: 140px;
      &::before{
        height: 47px;
        min-height: 47px;
        min-width: 140px;
        width: 140px;
        background-image: url(theme-url("/assets/icons/buttons/arrow-both/arrow-both-outline-black-s.svg"));
      }
      &:hover, &:focus, &:active{
        &::before{
          background-image: url(theme-url("/assets/icons/buttons/arrow-both/arrow-both-filled-black-s.svg"));
        }
      }
    }
    &.big{
      height: 47px;
      min-height: 47px;
      min-width: 217px;
      width: 217px !important;
      &::before{
        height: 47px;
        min-height: 47px;
        min-width: 217px;
        width: 217px;
        background-image: url(theme-url("/assets/icons/buttons/arrow-both/arrow-both-outline-black-l.svg"));
      }
      &:hover, &:focus, &:active{
        &::before{
          background-image: url(theme-url("/assets/icons/buttons/arrow-both/arrow-both-filled-black-l.svg"));
        }
      }
    }
    &.light{
      background-color: transparent !important;
      color: $white !important;
      border: none !important;
      &::before{
        background-image: url(theme-url("/assets/icons/buttons/arrow-both/arrow-both-outline-white-m.svg"));
      }
      &:hover, &:focus, &:active{
        color: $black !important;
          &::before{
          background-image: url(theme-url("/assets/icons/buttons/arrow-both/arrow-both-filled-white-m.svg"));
        }
      }
      &.small{
        &::before{
          background-image: url(theme-url("/assets/icons/buttons/arrow-both/arrow-both-outline-white-s.svg"));
        }
        &:hover, &:focus, &:active{
          &::before{
            background-image: url(theme-url("/assets/icons/buttons/arrow-both/arrow-both-filled-white-s.svg"));
          }
        }
      }
      &.big{
        &::before{
          background-image: url(theme-url("/assets/icons/buttons/arrow-both/arrow-both-outline-white-l.svg"));
        }
        &:hover, &:focus, &:active{
          &::before{
            background-image: url(theme-url("/assets/icons/buttons/arrow-both/arrow-both-filled-white-l.svg"));
          }
        }
      }
    }
    &.white{
      background-color: transparent !important;
      color: $black !important;
      border: none !important;
      &::before{
        background-image: url(theme-url("/assets/icons/buttons/arrow-both/arrow-both-filled-white-m.svg"));
      }
      &:hover, &:focus, &:active{
        color: $black !important;
          &::before{
          opacity: .8;
        }
      }
      &.small{
        &::before{
          background-image: url(theme-url("/assets/icons/buttons/arrow-both/arrow-both-filled-white-s.svg"));
        }
      }
      &.big{
        &::before{
          background-image: url(theme-url("/assets/icons/buttons/arrow-both/arrow-both-filled-white-l.svg"));
        }
      }
    }
    &.black{
      background-color: transparent !important;
      color: $white !important;
      border: none !important;
      &::before{
        background-image: url(theme-url("/assets/icons/buttons/arrow-both/arrow-both-filled-black-m.svg"));
      }
      &:hover, &:focus, &:active{
        color: $white !important;
          &::before{
          opacity: .8;
        }
      }
      &.small{
        &::before{
          background-image: url(theme-url("/assets/icons/buttons/arrow-both/arrow-both-filled-black-s.svg"));
        }
      }
      &.big{
        &::before{
          background-image: url(theme-url("/assets/icons/buttons/arrow-both/arrow-both-filled-black-l.svg"));
        }
      }
    }
  }
}
#search .search-results tr.s_product_cat{
  display: block !important;
  padding: 0;
  &.first{
    border: none;
    margin-top: 1.6rem;
  }
  &:hover{
    background: none !important;
    a{
      color: $white !important;
    }
  }
  td{
    display: block !important;
  }
}
#search .search-results .s_product_cat a{
  position: relative;
    height: 47px;
    min-height: 47px;
    min-width: 300px;
    width: 300px;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    text-align: center !important;
    background-color: transparent !important;
    color: $white !important;
    border: none !important;
    z-index: 1;
    margin: auto;
    &::before{
      content: '';
      background-image: url(theme-url("/assets/icons/buttons/arrow-both/arrow-both-filled-black-custom.svg"));
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      top: 0;
      left: 0px;
      height: 47px;
      min-height: 47px;
      min-width: 300px;
      width: 300px;
      position: absolute;
      z-index: -1;
    }
    &:hover, &:focus, &:active{
      color: $white !important;
      &::before{
        opacity: .8;
      }
    }
    
}

.socials.icons .social-icon.social-icon-facebook {
  height: inherit;
}

label.inplace-label{
  &:after{
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 5px;
      background: #f5f5f5;
      z-index: -1;
  }
}

.prev-arrow{
  transition: $trans;
  &:before{
    display: inline-block;
    transition: $trans;
    content: url(theme-url("/assets/icons/prev-arrow.svg"));
    transform: translate(0, 2px);
    padding-right: $space-tiny;
  }
  &:hover, &:focus, &:active{
    transition: $trans-h;
    &:before{
      transition: $trans;
      opacity: 0.33;
    }
  }
  &.link{
    &:hover, &:focus, &:active{
      text-decoration: underline;
    }
  }
}

nav.breadcrumbs {
  padding: $space-sm 0;
  .container{
    max-width: $container-xxl !important;
    @include bp('xxl'){
      max-width: $container-xl !important;
    }
    @include bp('xl'){
      max-width: $container-lg !important;
    }
    @include bp('lg'){
      max-width: $container-md !important;
    }
    p#breadcrumbs{
      >span{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
        column-gap: .6rem;
        row-gap: 1.6rem;
        span{
          position: relative;
          height: 25px;
          min-height: 25px;
          min-width: 104px !important;
          width: 104px !important;
          display: flex !important;
          align-items: center !important;
          justify-content: center !important;
          text-align: center !important;
          background-color: transparent !important;
          border: none !important;
          z-index: 1;
          font-size: 1.2rem;
          text-wrap: nowrap;
          color: black;
          &::before{
            content: '';
            background-image: url(theme-url("/assets/icons/buttons/arrow-right/breadcrumb-right-m.svg"));
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            top: 0;
            left: 0px;
            height: 25px;
            min-height: 25px;
            min-width: 104px;
            width: 104px;
            position: absolute;
            z-index: -1;
          }
          &.small{
            height: 25px;
            min-height: 25px;
            min-width: 50px !important;
            width: 50px !important;
            &::before{
              content: '';
              background-image: url(theme-url("/assets/icons/buttons/arrow-right/breadcrumb-right-s.svg"));
              background-size: contain;
              background-repeat: no-repeat;
              background-position: center;
              top: 0;
              left: 0px;
              height: 25px;
              min-height: 25px;
              min-width: 50px;
              width: 50px;
              position: absolute;
              z-index: -1;
            }
          }
          &.big{
            height: 25px;
            min-height: 25px;
            min-width: 169px !important;
            width: 169px !important;
            &::before{
              content: '';
              background-image: url(theme-url("/assets/icons/buttons/arrow-right/breadcrumb-right-l.svg"));
              background-size: contain;
              background-repeat: no-repeat;
              background-position: center;
              top: 0;
              left: 0px;
              height: 25px;
              min-height: 25px;
              min-width: 169px;
              width: 169px;
              position: absolute;
              z-index: -1;
            }
          }
          &.huge{
            height: 25px;
            min-height: 25px;
            min-width: 204px !important;
            width: 204px !important;
            &::before{
              content: '';
              background-image: url(theme-url("/assets/icons/buttons/arrow-right/breadcrumb-right-xl.svg"));
              background-size: contain;
              background-repeat: no-repeat;
              background-position: center;
              top: 0;
              left: 0px;
              height: 25px;
              min-height: 25px;
              min-width: 204px;
              width: 204px;
              position: absolute;
              z-index: -1;
            }
          }
          &:first-of-type{
            padding-left: 0;
            height: 25px;
            min-height: 25px;
            min-width: 105px !important;
            width: 105px !important;
            &:before{
              height: 25px;
              min-height: 25px;
              min-width: 105px;
              width: 105px;
              transform: rotate(180deg);
              background-image: url(theme-url("/assets/icons/buttons/arrow-both/breadcrumb-both-m.svg"));
              right: 100%;
            }
            &.small{
              height: 25px;
              min-height: 25px;
              min-width: 80px !important;
              width: 80px !important;
              &::before{
                content: '';
                background-image: url(theme-url("/assets/icons/buttons/arrow-both/breadcrumb-both-s.svg"));
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                top: 0;
                left: 0px;
                height: 25px;
                min-height: 25px;
                min-width: 80px;
                width: 80px;
                position: absolute;
                z-index: -1;
              }
            }
            &.big{
              height: 25px;
              min-height: 25px;
              min-width: 132px !important;
              width: 132px !important;
              &::before{
                content: '';
                background-image: url(theme-url("/assets/icons/buttons/arrow-both/breadcrumb-both-l.svg"));
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                top: 0;
                left: 0px;
                height: 25px;
                min-height: 25px;
                min-width: 132px;
                width: 132px;
                position: absolute;
                z-index: -1;
              }
            }
          }
          &:has(a){
            opacity: .5;
            transition: .3s;
            &:hover{
              opacity: 1;
            }
          }
          a{
            margin: 0;
            text-decoration: none;
            &:hover, &:focus, &:active{
              opacity: 1;
            }
          }
        }
      }
    }
  }
}
#header .header .right-navigation{
  gap: 1.6rem;
  flex-wrap: nowrap;
  flex: 1 0 40%;
  max-width: 40%;
  img{
    width: 15px !important;
    min-width: 15px !important;
  }
  .menu-cart{
    margin: 0;
  }
  .menu-account{
    .logged-in{
      padding: .6rem;
      background-color: $black;
      border-radius: 2px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 24px;
      height: 24px;
      aspect-ratio: 1/1;
      min-height: 24px;
      position: relative;
      min-width: 24px;
      transition: .3s;
      &:hover{
        opacity: .6;
      }
      img{
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
}
#search {
  border-top: 0;
}


#search .product-search-form form .product-search-field{
  border-radius: 4px !important;
  border: 1px solid $gray500;
}

#search .product-search-results-content{
  padding: 1.5rem;
}
#search div.product-search-form span.product-search-field-clear{
  top: -1em;
}

#lang-switcher{
  .wpml-ls-legacy-dropdown-click{
    width: fit-content;
    .wpml-ls-sub-menu{
      border: none;
      background-color: $black;
      width: fit-content;
      min-width: 100%;
      a{
        color: $white;
        text-align: left;
      }
    }
    a{
      border: none;
      background: none !important;
      color: $black;
      padding: 5px 8px !important;
      position: relative;
      font-weight: 400;
      font-family: 'Roboto', sans-serif;
      font-size: 1.4rem;

      &:hover{
        background: none;
      }
      &.wpml-ls-item-toggle{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: .8rem;
        padding-right: 0;
        font-weight: 400;
        font-family: 'Roboto', sans-serif;
        font-size: 1.4rem;
        &::before{
          content: '';
          position: absolute;
          top: auto;
          left: 0;
          right: 0;
          height: 24px;
          width: 100%;
          background-color: transparent;
          z-index: -1;
          border-radius: 2px;
          transition: .3s;
        }
        &:hover{
          &::after{
            transform: rotate(180deg);
          }
        }
        &::after{
          transition: .3s;
          background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.6875 6.53125L8.09375 3.125L8.75 3.78125L4.6875 7.875L0.625 3.8125L1.28125 3.15625L4.6875 6.53125Z' fill='black'/%3E%3C/svg%3E%0A");
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
          content: '';
          border: none !important;
          position: relative;
          width: 10px;
          right: unset;
          top: unset;
          height: 10px;
          min-width: 10px;
          min-height: 10px;
        }
      }
    }
    &:has(.wpml-ls-sub-menu[style*="visible"]){
      a.wpml-ls-item-toggle{
        color: $white;
        z-index: 1;
        &::before{
          background-color: $black;
        }
        &::after{
          background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.6875 6.53125L8.09375 3.125L8.75 3.78125L4.6875 7.875L0.625 3.8125L1.28125 3.15625L4.6875 6.53125Z' fill='white'/%3E%3C/svg%3E%0A");
          transform: rotate(180deg);
        }
      }
    }
  }
}

.widget-area{
  #lang-switcher{
    .wpml-ls-legacy-dropdown-click
    {
      a{
        color: $white !important;
        padding: 5px 10px !important;
        &.wpml-ls-item-toggle{
          &::after{
            background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.6875 6.53125L8.09375 3.125L8.75 3.78125L4.6875 7.875L0.625 3.8125L1.28125 3.15625L4.6875 6.53125Z' fill='white'/%3E%3C/svg%3E%0A");
          }
        }
      }
      .wpml-ls-sub-menu{
        background-color: $black;
        width: fit-content;
        top: unset;
        bottom: 100%;
        transition: .3s;
        opacity: 0;
      }
    }
    .wpml-ls-current-language:hover .wpml-ls-sub-menu{
      opacity: 1;
    }
  }
}

#header .header{
  .row{
    @include bp(lg){
      justify-content: space-between;
    }
  }
  &.transparent{
    background-color: transparent;
    background: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    &:has(.trigger-mobile-menu.active){
      position: relative;
      background: $black;
    }
    &.sticky-header{
      box-shadow: none !important;
      background: $black;
    }
    .inline-svg{
      fill: white;
    }
    .logo{
      > a {
        content: url(theme-url("/assets/svg/logo-landing.svg"));
      }
    }
    .top-menu > div > ul.menu li.menu-item a{
      font-family: 'Roboto', sans-serif;
      color: $white;
      font-size: 1.4rem;
    }
    .top-menu > div > ul.menu li.menu-item.menu-item-megamenu > a::after,
    #lang-switcher .wpml-ls-legacy-dropdown-click a.wpml-ls-item-toggle::after{
      background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.6875 6.53125L8.09375 3.125L8.75 3.78125L4.6875 7.875L0.625 3.8125L1.28125 3.15625L4.6875 6.53125Z' fill='white'/%3E%3C/svg%3E%0A");
    }
    #lang-switcher .wpml-ls-legacy-dropdown-click a{
      color: $white;
    }
    #lang-switcher {
      .wpml-ls-sub-menu{
        background-color: $white;
        a{
          color: black;
        }
      }
    }
    .wpml-ls-legacy-dropdown-click a{
      color: $white;
    }
    #lang-switcher .wpml-ls-legacy-dropdown-click:has(.wpml-ls-sub-menu[style*="visible"]){
      a.wpml-ls-item-toggle{
        color: $black;
        &::before{
          background-color: $white !important;
        }
        &::after{
          background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.6875 6.53125L8.09375 3.125L8.75 3.78125L4.6875 7.875L0.625 3.8125L1.28125 3.15625L4.6875 6.53125Z' fill='black'/%3E%3C/svg%3E%0A");
        }
      }
    }
    .top-menu > div > ul.menu li.menu-item.menu-item-megamenu.active > a{
      color: $black !important;
    }
    .top-menu > div > ul.menu li.menu-item.menu-item-megamenu.active > a::before{
      background-color: $white;
    }
    .top-menu > div > ul.menu li.menu-item.menu-item-megamenu.active > a::after{
      transform: rotate(180deg);
      background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.6875 6.53125L8.09375 3.125L8.75 3.78125L4.6875 7.875L0.625 3.8125L1.28125 3.15625L4.6875 6.53125Z' fill='black'/%3E%3C/svg%3E%0A");
    }
    .top-menu > div > ul.menu > li.menu-item > a:hover{
      color: $black !important;
    }
    .top-menu > div > ul.menu > li.menu-item > a:hover::before{
      background-color: $white;
    }
    .right-navigation .menu-cart .cart-count-badge .badge{
      background: $white;
      color: $black;
    }
  }
  padding: 0 !important;
  .logo{
    display: flex;
    align-items: center;
    justify-content: center;
    @include bp(lg){
      justify-content: flex-start;
    }
    a{
      height: 80px;
      margin: 1rem 0;
    }
  }
  .show-more {
    a {
      color: $col-prm !important;
      text-decoration: underline !important;
      &:hover {
        opacity: 0.7 !important;
      }
    }
  }
}

#header .header .top-menu > div > ul.menu {
  align-items: center;
  justify-content: flex-start;
  >li.menu-item{
    padding-right: 0;
    >a{
      padding: 3.2rem 8px !important;
      font-size: 1.4rem !important;
      font-weight: 400 !important;
      &:hover{
        color: $white !important;
        &::before{
          background-color: $black;
        }
      }
      position: relative;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      line-height: normal;
      z-index: 1;
      &::before{
        content: '';
        position: absolute;
        top: auto;
        left: 0;
        right: 0;
        height: 24px;
        width: 100%;
        background-color: transparent;
        z-index: -1;
        border-radius: 2px;
        transition: .3s;
      }
    
    }
    >i{
      transform: translate(0, -50%) !important;
    }
  }
  li.menu-item.menu-item-megamenu {
    &.active{
      >a{ 
        color: $white !important;
        opacity: 1;
      }
      >a::after{
        transform: rotate(180deg);
        background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.6875 6.53125L8.09375 3.125L8.75 3.78125L4.6875 7.875L0.625 3.8125L1.28125 3.15625L4.6875 6.53125Z' fill='white'/%3E%3C/svg%3E%0A");
      }
      >a::before{
        background-color: black;
      }
    }
    >a{
      position: relative;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: .8rem;
      line-height: normal;
      z-index: 1;
      font-weight: 400;
      font-size: 1.4rem;
      &::before{
        content: '';
        position: absolute;
        top: auto;
        left: 0;
        right: 0;
        height: 24px;
        width: 100%;
        background-color: transparent;
        z-index: -1;
        border-radius: 2px;
        transition: .3s;
      }
      &::after{
        content: '';
        transition: .3s;
        background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.6875 6.53125L8.09375 3.125L8.75 3.78125L4.6875 7.875L0.625 3.8125L1.28125 3.15625L4.6875 6.53125Z' fill='black'/%3E%3C/svg%3E%0A");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        display: block;
        width: 10px;
        height: 10px;
        min-width: 10px;
        min-height: 10px;
        margin-top: -2px;
      }
    }
    i{
      display: none;
    }
    > .sub-menu {
      background-color: $white;
      width: 100% !important;
      max-width: $container-xxl !important;
      padding: 4rem 3%;
      row-gap: 2rem;
      transform: translate(-50%, calc(50% + 3.9rem));
      cursor: auto;
      @include bp("xxl") {
        padding: 2.4rem 7.5%;
      }
      >li{
        display: block !important;
        position: relative;
        padding-right: 10px !important;
          padding-left: 85px !important;
        > a {
          text-transform: uppercase;

          img{
            position: absolute;
            pointer-events: none;
            left: 0;
            top: 0;
            width: 65px;
            min-width: 65px;
            aspect-ratio: 1/1;
            object-fit: contain;
          }
        }
      }
      > li.menu-item-has-children {
        margin: 0;
        > a {
          margin-bottom: 1.6rem;
          color: $black;
          font-size: 1.3rem;
          line-height: 125%; 
          display: inline-block;
          padding: 0;
          &:hover{
            color: $btn-hover-bg;
          }
        }
      }
      .sub-menu {
        position: relative;
        box-shadow: none;
        padding: 0;
        background: transparent;
        img{
          display: none;
        }
        a{
          color: $black;
          text-transform: none;
          font-size: 1.4rem;
          line-height: 130%; 
          display: inline-block;
          padding: 0;
          font-weight: 500;
          &:hover{
            color: $btn-hover-bg;
          }
        }
      }
    }
    &.active {
      > a {
        color: $btn-hover-bg;
      }
      > .sub-menu {
        display: flex;
        flex-wrap: wrap;
      }
    }
    >a{
      padding: 3.2rem 8px !important;
      font-size: 1.4rem !important;
      font-weight: 400 !important;
    }
    li.menu-item{
      padding: 0;
      margin: 8px 0;
      cursor: auto;
    }
  }
  li.menu-item .sub-menu {
    background: $white;
    padding: 1.6rem;
    li{
      cursor: auto;
    }
    a{
      color: $black;
      text-transform: none;
      font-size: 1.4rem;
      line-height: 130%; 
      display: inline-block;
      padding: 0;
      &:hover{
        color: $btn-hover-bg;
      }
    }
  }
}

#header .header .right-navigation .trigger-mobile-menu {
  transform: scale(0.75);
  margin: 0px !important;
  .bar:nth-of-type(1) {
    transform: translate(0px, 4px);
  }
  .bar:nth-of-type(2) {
    display: none;
  }
  .bar:nth-of-type(3) {
    transform: translate(0px, -1px);
  }
}