@import "variables";
@import "mixins";
@import "./contact-form.scss";
@import './cookie-banner.scss';
@import './my-account-popup.scss';

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

@font-face {
  font-family: "GreedNarrow";
  src: local("GreedNarrow"), local("GreedNarrow"), url(theme-url("/assets/fonts/GreedNarrow-Bold.otf")) format("opentype");
}

body{
  background-color: #F8F8F8;
}

$trianglew: 14px;
a.button, button {
  height: 45px !important;
  min-height: 45px !important;
  max-height: 45px !important;
  border-top: 1px solid $black;
  border-bottom: 1px solid $black;
  text-wrap: nowrap;
  border-width: 1px !important;
  &.triangleright {
    position: relative;
    &::after{
      content: '';
      background-image: url(theme-url("/assets/icons/button-arrow-black-filled.svg"));
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      height: 46px;
      width: 28px;
      top: -1.5px;
      bottom: 0px;
      left: calc(100% - 5px);
      position: absolute;
      display: block;
    }
    &:hover, &:focus, &:active{
      background-color: $black !important;
      border-color: $black !important;
      background: $black !important;
      opacity: .6 !important;
    }
    &.light{
      &::after{
        background-image: url(theme-url("/assets/icons/button-right-arrow-white-filled.svg"));
      }
      &:hover, &:focus, &:active{
        opacity: .6 !important;
        background-color: $white !important;
        border-color: $white !important;
        color: $black !important;
      }
    }
  }
  &.triangleleft {
    position: relative;
    &::before{
      content: '';
      background-image: url(theme-url("/assets/icons/button-arrow-black-filled.svg"));
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      transform: rotate(180deg);
      height: 46px;
      width: 28px;
      top: -1.5px;
      bottom: 0px;
      right: calc(100% - 5px);
      position: absolute;
      display: block;
    }
    &:hover, &:focus, &:active{
      background-color: $black !important;
      border-color: $black !important;
      opacity: .6 !important;
      background: $black !important;

    }
    &.light{
      &::before{
        background-image: url(theme-url("/assets/icons/button-right-arrow-white-filled.svg"));
      }
      &:hover, &:focus, &:active{
        opacity: .6 !important;
        background-color: $white !important;
        border-color: $white !important;
        color: $black !important;

      }
    }
  }
}

.socials.icons .social-icon.social-icon-facebook {
  height: inherit;
}

label.inplace-label{
  &:after{
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 1px;
      background: #ffffff;
      z-index: -1;
  }
}

.prev-arrow{
  transition: $trans;
  &:before{
    display: inline-block;
    transition: $trans;
    content: url(theme-url("/assets/icons/prev-arrow.svg"));
    transform: translate(0, 2px);
    padding-right: $space-tiny;
  }
  &:hover, &:focus, &:active{
    transition: $trans-h;
    &:before{
      transition: $trans;
      opacity: 0.33;
    }
  }
  &.link{
    &:hover, &:focus, &:active{
      text-decoration: underline;
    }
  }
}

nav.breadcrumbs {
  padding: $space-sm 0;
  .container{
    max-width: $container-xxl !important;
    @include bp('xxl'){
      max-width: $container-xl !important;
    }
    @include bp('xl'){
      max-width: $container-lg !important;
    }
    @include bp('lg'){
      max-width: $container-md !important;
    }
    p#breadcrumbs{
      margin-left: 1.8rem;
      >span{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
        column-gap: 2.6rem;
        row-gap: 1.6rem;
        span{
          position: relative;
          display: inline-block;
          line-height: inherit;
          height: 25px;
          font-size: 1.2rem;
          padding: 0;
          padding-left: 1rem;
          text-wrap: nowrap;
          margin: 0;
          border-top: 1px solid black;
          border-bottom: 1px solid black;
          &::before{
            content: '';
            background-image: url(theme-url("/assets/icons/button-left-arrow.svg"));
            background-size: auto;
            background-repeat: no-repeat;
            background-position: center;
            height: calc(100% + 2px);
            width: 15px;
            top: -1px;
            bottom: 0px;
            right: calc(100% - 5px);
            position: absolute;
            display: block;
          }
          &::after{
            content: '';
            background-image: url(theme-url("/assets/icons/button-right-arrow.svg"));
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            height: calc(100% + 2px);
            width: 15px;
            top: -1px;
            bottom: 0px;
            left: 100%;
            position: absolute;
            display: block;
          }
          &:first-of-type{
            padding-left: 0;
            &:before{
              transform: rotate(180deg);
              background-image: url(theme-url("/assets/icons/button-right-arrow.svg"));
              right: 100%;
            }
          }
          &:has(a){
            opacity: .5;
            transition: .3s;
            &:hover{
              opacity: 1;
            }
          }
          a{
            margin: 0;
            text-decoration: none;
            &:hover, &:focus, &:active{
              opacity: 1;
            }
          }
        }
      }
    }
  }
}
#header .header .right-navigation{
  gap: 1.6rem;
  flex-wrap: nowrap;
  flex: 1 0 40%;
  max-width: 40%;
  img{
    width: 15px !important;
    min-width: 15px !important;
  }
  .menu-cart{
    margin: 0;
  }
}

#lang-switcher{
  .wpml-ls-legacy-dropdown{
    width: fit-content;
    a{
      border: none;
      &.wpml-ls-item-toggle{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: .8rem;
        ::after{
          background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.6875 6.53125L8.09375 3.125L8.75 3.78125L4.6875 7.875L0.625 3.8125L1.28125 3.15625L4.6875 6.53125Z' fill='black'/%3E%3C/svg%3E%0A");
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
          content: '';
          border: none !important;
          position: relative;
          right: unset;
          top: unset;
        }
      }
    }
  }
}

#header .header{
  .row{
    @include bp(lg){
      justify-content: space-between;
    }
  }
  padding: 0 !important;
  .logo{
    display: flex;
    align-items: center;
    justify-content: center;
    @include bp(lg){
      justify-content: flex-start;
    }
  }
  .show-more {
    a {
      color: $col-prm !important;
      text-decoration: underline !important;
      &:hover {
        opacity: 0.7 !important;
      }
    }
  }
}

#header .header .top-menu > div > ul.menu {
  align-items: center;
  justify-content: flex-start;
  >li.menu-item{
    padding-right: 0;
    >a{
      padding: 3.2rem 8px !important;
      font-size: 1.3rem !important;
      font-weight: 700 !important;
      &:hover{
        color: $white !important;
        &::before{
          background-color: $black;
        }
      }
      position: relative;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      line-height: normal;
      z-index: 1;
      &::before{
        content: '';
        position: absolute;
        top: auto;
        left: 0;
        right: 0;
        height: 24px;
        width: 100%;
        background-color: transparent;
        z-index: -1;
        border-radius: 2px;
        transition: .3s;
      }
    
    }
    >i{
      transform: translate(0, -50%) !important;
    }
  }
  li.menu-item.menu-item-megamenu {
    &.active{
      >a{ 
        color: $white !important;
        opacity: 1;
      }
      >a::after{
        transform: rotate(180deg);
        background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.6875 6.53125L8.09375 3.125L8.75 3.78125L4.6875 7.875L0.625 3.8125L1.28125 3.15625L4.6875 6.53125Z' fill='white'/%3E%3C/svg%3E%0A");
      }
      >a::before{
        background-color: black;
      }
    }
    >a{
      position: relative;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: .8rem;
      line-height: normal;
      z-index: 1;
      &::before{
        content: '';
        position: absolute;
        top: auto;
        left: 0;
        right: 0;
        height: 24px;
        width: 100%;
        background-color: transparent;
        z-index: -1;
        border-radius: 2px;
        transition: .3s;
      }
      &::after{
        content: '';
        transition: .3s;
        background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.6875 6.53125L8.09375 3.125L8.75 3.78125L4.6875 7.875L0.625 3.8125L1.28125 3.15625L4.6875 6.53125Z' fill='black'/%3E%3C/svg%3E%0A");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        display: block;
        width: 10px;
        height: 10px;
        min-width: 10px;
        min-height: 10px;
        margin-top: -2px;
      }
    }
    i{
      display: none;
    }
    > .sub-menu {
      background-color: $white;
      width: 100% !important;
      max-width: $container-xxl !important;
      padding: 4rem 3%;
      row-gap: 2rem;
      transform: translate(-50%, calc(50% + 3.9rem));
      cursor: auto;
      @include bp("xxl") {
        padding: 2.4rem 7.5%;
      }
      >li{
        display: block !important;
        position: relative;
        padding-right: 10px !important;
          padding-left: 85px !important;
        > a {
          text-transform: uppercase;

          img{
            position: absolute;
            pointer-events: none;
            left: 0;
            top: 0;
            width: 65px;
            min-width: 65px;
            aspect-ratio: 1/1;
            object-fit: contain;
          }
        }
      }
      > li.menu-item-has-children {
        margin: 0;
        > a {
          margin-bottom: 1.6rem;
          color: $black;
          font-size: 1.3rem;
          line-height: 125%; 
          display: inline-block;
          padding: 0;
          font-weight: 700;
          &:hover{
            color: $btn-hover-bg;
          }
        }
      }
      .sub-menu {
        position: relative;
        box-shadow: none;
        padding: 0;
        background: transparent;
        img{
          display: none;
        }
        a{
          color: $black;
          text-transform: none;
          font-size: 1.4rem;
          line-height: 130%; 
          display: inline-block;
          padding: 0;
          font-weight: 500;
          &:hover{
            color: $btn-hover-bg;
          }
        }
      }
    }
    &.active {
      > a {
        color: $btn-hover-bg;
      }
      > .sub-menu {
        display: flex;
        flex-wrap: wrap;
      }
    }
    >a{
      padding: 3.2rem 8px !important;
      font-size: 1.3rem !important;
      font-weight: 700 !important;
    }
    li.menu-item{
      padding: 0;
      margin: 8px 0;
      cursor: auto;
    }
  }
  li.menu-item .sub-menu {
    background: $white;
    padding: 1.6rem;
    li{
      cursor: auto;
    }
    a{
      color: $black;
      text-transform: none;
      font-size: 1.4rem;
      line-height: 130%; 
      display: inline-block;
      padding: 0;
      &:hover{
        color: $btn-hover-bg;
      }
    }
  }
}

#header .header .right-navigation .trigger-mobile-menu {
  transform: scale(0.75);
  margin: 0px !important;
  .bar:nth-of-type(1) {
    transform: translate(0px, 4px);
  }
  .bar:nth-of-type(2) {
    display: none;
  }
  .bar:nth-of-type(3) {
    transform: translate(0px, -1px);
  }
}