@import "variables";
@import "mixins";
@import "./contact-form.scss";
@import './cookie-banner.scss';
@import './my-account-popup.scss';

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

@font-face {
  font-family: "GreedNarrow";
  src: local("GreedNarrow"), local("GreedNarrow"), url(theme-url("/assets/fonts/GreedNarrow-Bold.otf")) format("opentype");
}

$trianglew: 14px;
a.button, button {
  &.triangleright {
    position: relative;
    margin-right: $trianglew;
    &:after {
      content: '';
      transition: $trans;
      display: inline-block;
      position: absolute;
      right: calc(-#{$trianglew}); //-15px
      top: calc(-#{$btn-bw});
      width: $trianglew;
      height: calc(100% + 2*#{$btn-bw});
      background-color: $btn-bg;
      clip-path: polygon(0 0, 0% 100%, 100% 50%);
      border-radius: $btn-br;
    }
    &:hover, &:focus, &:active{
      &::after{
        background-color: $btn-hover-bg;
        transition: $trans-h;
      }
    }
    &.light{
      &::after{
        background-color: $btn-l-bg;
      }
      &:hover, &:focus, &:active{
        &::after{
          background-color: $btn-hover-bg;
        }
      }
    }
  }
  &.triangleleft {
    position: relative;
    margin-left: $trianglew;
    &:before {
      content: '';
      transition: $trans;
      display: inline-block;
      position: absolute;
      left: calc(-#{$trianglew}); //-15px
      top: calc(-#{$btn-bw});
      width: $trianglew;
      height: calc(100% + 2*#{$btn-bw});
      background-color: $btn-bg;
      clip-path: polygon(100% 0, 0 50%, 100% 100%);
      border-radius: $btn-br;
    }
    &:hover, &:focus, &:active{
      &::before{
        background-color: $btn-hover-bg;
        transition: $trans-h;
      }
    }
    &.light{
      &::before{
        background-color: $btn-l-bg;
      }
      &:hover, &:focus, &:active{
        &::before{
          background-color: $btn-hover-bg;
        }
      }
    }
  }
}

.socials.icons .social-icon.social-icon-facebook {
  height: inherit;
}

label.inplace-label{
  &:after{
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 1px;
      background: #ffffff;
      z-index: -1;
  }
}

.prev-arrow{
  transition: $trans;
  &:before{
    display: inline-block;
    transition: $trans;
    content: url(theme-url("/assets/icons/prev-arrow.svg"));
    transform: translate(0, 2px);
    padding-right: $space-tiny;
  }
  &:hover, &:focus, &:active{
    transition: $trans-h;
    &:before{
      transition: $trans;
      opacity: 0.33;
    }
  }
  &.link{
    &:hover, &:focus, &:active{
      text-decoration: underline;
    }
  }
}

nav.breadcrumbs {
  padding: $space-sm 0;
  .container{
    max-width: $container-xxl !important;
    @include bp('xxl'){
      max-width: $container-xl !important;
    }
    @include bp('xl'){
      max-width: $container-lg !important;
    }
    @include bp('lg'){
      max-width: $container-md !important;
    }
    p#breadcrumbs{
      margin-left: 1.8rem;
      >span{
        span{
          position: relative;
          display: inline-block;
          line-height: 30px;
          height: 35px;
          font-size: 1.2rem;
          margin-right: 15px;
          border-top: 2px solid $gray400;
          border-bottom: 2px solid $gray400;
          padding-left: 2.5rem;
          padding-right: 0.5rem;
          &:before{
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            transform: translate(-50%, -50%) rotate(45deg);
            height: 25px;
            width: 25px;
            display: inline-block;
            border-right: 2px solid $gray400;
            border-top: 2px solid $gray400;
          }
          &:after{
            content: '';
            position: absolute;
            right: 0;
            top: 50%;
            transform: translate(50%, -50%) rotate(45deg);
            height: 25px;
            width: 25px;
            display: inline-block;
            border-right: 2px solid $gray400;
            border-top: 2px solid $gray400;
          }
          &:first-of-type{
            padding-left: 0;
            &:before{
              content: '';
              position: absolute;
              left: 0;
              top: 50%;
              transform: translate(-50%, -50%) rotate(45deg);
              height: 25px;
              width: 25px;
              display: inline-block;
              border-left: 2px solid $gray400;
              border-bottom: 2px solid $gray400;
              border-right: none;
              border-top: none;
            }
            &:after{
              content: '';
              position: absolute;
              right: 0;
              top: 50%;
              transform: translate(50%, -50%) rotate(45deg);
              height: 25px;
              width: 25px;
              display: inline-block;
              border-right: 2px solid $gray400;
              border-top: 2px solid $gray400;
            }
          }
          &:last-of-type{
            border-color: $col-prm;
            &:before, &:after{
              border-color: $col-prm;
            }
          }
          a{
            margin: 0;
            text-decoration: none;
            color: $gray400;
            &:hover, &:focus, &:active{
              color: $col-prm;
            }
          }
        }
      }
    }
  }
}
#header .header .right-navigation{
  gap: 1.6rem;
  .menu-cart{
    margin: 0;
  }
}

#header .header{
  padding: 0 !important;
  .show-more {
    a {
      color: $col-prm !important;
      text-decoration: underline !important;
      &:hover {
        opacity: 0.7 !important;
      }
    }
  }
}

#header .header .top-menu > div > ul.menu {
  >li.menu-item{
    padding-right: 2.6rem;
    >a{
      padding: 3.2rem 0 !important;
      font-size: 1.3rem !important;
      font-weight: 700 !important;
      &:hover{
        color: $btn-hover-bg !important;
      }
    }
    >i{
      transform: translate(0, -50%) !important;
    }
  }
  li.menu-item.menu-item-megamenu {
    i{
      display: none;
    }
    > .sub-menu {
      background-color: $white;
      width: 100% !important;
      max-width: $container-xxl !important;
      padding: 4rem 3%;
      row-gap: 2rem;
      transform: translate(-50%, calc(50% + 4.15rem));
      cursor: auto;
      @include bp("xxl") {
        padding: 2.4rem 7.5%;
      }
      >li{
        display: block !important;
        position: relative;
        padding-right: 10px !important;
          padding-left: 85px !important;
        > a {
          img{
            position: absolute;
            pointer-events: none;
            left: 0;
            top: 0;
            width: 65px;
            min-width: 65px;
            aspect-ratio: 1/1;
            object-fit: contain;
          }
        }
      }
      > li.menu-item-has-children {
        margin: 0;
        > a {
          margin-bottom: 1.6rem;
          color: $black;
          text-transform: uppercase;
          font-size: 1.3rem;
          line-height: 125%; 
          display: inline-block;
          padding: 0;
          font-weight: 700;
          &:hover{
            color: $btn-hover-bg;
          }
        }
      }
      .sub-menu {
        position: relative;
        box-shadow: none;
        padding: 0;
        background: transparent;
        img{
          display: none;
        }
        a{
          color: $black;
          text-transform: none;
          font-size: 1.4rem;
          line-height: 130%; 
          display: inline-block;
          padding: 0;
          font-weight: 500;
          &:hover{
            color: $btn-hover-bg;
          }
        }
      }
    }
    &.active {
      > a {
        color: $btn-hover-bg;
      }
      > .sub-menu {
        display: flex;
        flex-wrap: wrap;
      }
    }
    >a{
      padding: 3.2rem 0 !important;
      font-size: 1.3rem !important;
      font-weight: 700 !important;
    }
    li.menu-item{
      padding: 0;
      margin: 8px 0;
      cursor: auto;
    }
  }
  li.menu-item .sub-menu {
    background: $white;
    padding: 1.6rem;
    li{
      cursor: auto;
    }
    a{
      color: $black;
      text-transform: none;
      font-size: 1.4rem;
      line-height: 130%; 
      display: inline-block;
      padding: 0;
      &:hover{
        color: $btn-hover-bg;
      }
    }
  }
}

#header .header .right-navigation .trigger-mobile-menu {
  transform: scale(0.75);
  margin: 0px !important;
  .bar:nth-of-type(1) {
    transform: translate(0px, 4px);
  }
  .bar:nth-of-type(2) {
    display: none;
  }
  .bar:nth-of-type(3) {
    transform: translate(0px, -1px);
  }
}