@import "variables";
@import "mixins";

#looks-single{
  .single_variation_wrap{
    display: flex;
    flex-direction: column;
  }
    .header{
        position: relative;
        width: 100%;
        padding: 4rem 0;
        background-color: #F4E7D5;
        .controls{
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            @include bp(lg){
                position: relative;
            }
            .container{
                padding: 0;
            }
            .breadcrumbs{
                @include bp(lg){
                    padding: 0 0 5rem 0;
                }
                .col-6{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;
                }
                .end{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    justify-content: center;
                    .prev-next{
                        display: flex;
                        align-items: center;
                        justify-content: flex-end;
                        gap: 1.6rem;
                        .button{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            padding: 1rem !important;
                            height: auto !important;
                            min-height: unset !important;
                            max-height: unset !important;
                            border-radius: 0 !important;
                        }
                    }
                }
            }
        }
        .image-column{
            padding-left: 10rem;
            @include bp(lg){
                padding-left: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                padding-top: 5rem;
            }
            img{
                height: 400px;
                width: auto;
                object-fit: contain;
            }
        }
        .text-column{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            *{
                text-align: center;
            }
            .button{
              margin: auto;
            }
            h1{
                color: $black;
                margin-bottom: 1.6rem;
                text-transform: uppercase;
            }
            p{
                color: $gray500;
                font-size: $fs-p;
                font-weight: 400;
                max-width: 70%;
                margin: 1em auto;
                @include bp(md){
                    max-width: 100%;
                }
                i{
                    color: $black;
                    font-size: $fs-h3;
                    line-height: normal;
                    font-family: 'ItalianPlateItalic', sans-serif;
                }
            }
        }
    }

    .products{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: $space-md;
        margin-bottom: $space-md;
        .product-wrp{
          width: 100%;
          background-color: $white;
        }
        .product{
          width: 100%;
          padding: $space-md;
          @include bp(md){
            padding: $space-md 0;
          }
        }
        .product-header{
    margin-bottom: 4rem;
    .gallery-col{
      overflow: hidden;
      position: relative;
      .woocommerce-product-gallery__image[data-gallery-index="0"]{
        a > img{
          aspect-ratio: 1/1;
          object-fit: contain;
          background-color: $white;
        }
      }
      .thumbs{
        grid-template-columns: repeat(auto-fill, minmax(8.5rem, 1fr));
        gap: 8px;
        a > img{
          aspect-ratio: 1/1;
          object-fit: contain;
          background-color: $white;
        }
      }
    }
    .summary-col{
      .brand{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 1.6rem;
        margin-bottom: 1.6rem;
        *{
          margin: 0;
        }
        .cdc-logo{
          max-height: 3.2rem;
        }
        .brand-name{
          font-size: 3rem;
          text-transform: uppercase;
          font-weight: 400;
          color: $gray400;
          font-family: 'GreedNarrow', sans-serifx;
        }
      }
      .stock-status {
          span {
            font-size: 1.3rem;
            &.in-stock {
              color: #2ED477;
            }
            &.do-sedem-dni {
              color: #ddcd00;
            }
            &.on-back-order {
              color: #a86900;
            }
            &.out-of-stock {
              color: #a80000;
            }
          }
        }

        .price-wrp-hide {
        display: none;
      }
      .tags{
        margin-bottom: 1rem;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 1.6rem;
        .tag{
          background-color: $gray100;
        }
      }
      h1{
        margin-bottom: 0.8rem;
      }
      .collection-terms{
        margin-bottom: 1rem;
        span{
          color: $gray400;
          font-size: 1.4rem;
          font-weight: 700;
          text-transform: uppercase;
          line-height: 150%;
        }
      }
      .color-term{
        color: $gray400;
          font-size: 1.3rem;
          font-weight: 400;
          line-height: 150%;
          margin-top: 1rem;
          &.heading{
            font-weight: 700;
            text-transform: uppercase;

          }
      }
      .woocommerce-product-details__short-description{
        color: $gray600;
          font-size: $fs-h4;
          line-height: 150%; 
          margin-bottom: 1rem;
          font-family: 'ItalianPlate', sans-serif;
        p{
          color: $gray600;
          font-size: $fs-h4;
          line-height: 150%; 
          margin-bottom: 1rem;
          font-family: 'ItalianPlate', sans-serif;
        }

        i, em{
          font-size: inherit;
        }
      }
      .variations_form{
        margin-top: 1.6rem;
      }
      .related-products-thumbnails{
              display: flex;
              flex-wrap: wrap;
              gap: 0.8rem;
              .related-product-thumbnail{
                max-width: 6rem;
                img{
                  border: 1px solid $gray300;
                  border-radius: 2px;
                  transition: $trans;
                  aspect-ratio: 1/1;
                  object-fit: contain;
                  background-color: $white;
                }
                &.current-selected{
                  a{
                    pointer-events: none;
                  }
                  img{
                    border: 1px solid $col-prm;
                  }
                  &:hover{
                   img{
                    border: 1px solid $col-prm;
                   }
                  }
                }
                &:hover{
                  img{
                    border: 1px solid $col-prm;
                    transition: $trans-h;
                  }
                }
              }
            }
      .single_variation_wrap{
        table.variations{
          width: 100%;
          select{
            width: 100%;
            cursor: pointer;
          }
        }
        .single_variation{
          .woocommerce-variation-price{
            .amount{
              margin-top: 0 !important;
              font-size: $fs-h2;
              font-family: $font-family-headings;
            }
          }
          .woocommerce-variation-sku{
            float: left;
            color: $gray500;
            font-size: 1.3rem;
            font-weight: 400;
            line-height: 150%; /* 19.5px */
          }
          .woocommerce-variation-availability{
            float: left;
            p.stock{
              font-size: 1.3rem;
              font-weight: 400;
              line-height: 150%; /* 19.5px */
              &.instock{
                color: $in-stock-color;
              }
              &.onbackorder{
                color: $on-back-order-color;
              }
              &.outofstock{
                color: $out-of-stock-color;
              }
            }
          }
        }
        .woocommerce-variation-add-to-cart{
          margin-top: 1rem;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          gap: 1.6rem;
          flex-wrap: wrap;
          &.woocommerce-variation-add-to-cart-disabled{
            opacity: .5;
            pointer-events: none;
            cursor: not-allowed !important;
          }
          .quantity {
            display: inline-block;
            border: 1px solid $gray200;
            border-radius: 0px;
            background-color: #F8F8F8;
            margin-right: $space-sm;
            input {
              color: $gray900;
              padding: 13px;
              border: none;
              border-radius: 0px;
              font-size: 1.4rem;
              font-weight: 400;
              text-align: center;
              &.minus {
                cursor: pointer;
                padding-left: 1.6rem;
              }
              &.plus {
                cursor: pointer;
                padding-right: 1.6rem;
                color: $gray900;
              }
              &.qty {
                width: 5rem;
                position: relative;
                padding: 0px 1rem;
                color: $gray900;
                border-left: 1px solid $gray200;
                border-right: 1px solid $gray200;
              }
              &:hover,&:focus{
                box-shadow: none;
                color: $gray900;
              }
            }
          }
        }
      }
    }

    .product-genders {
      margin-bottom: 1.6rem;
              display: flex;
              align-items: center;
              justify-content: flex-start;
              flex-wrap: wrap;
              gap: 0.5rem;
              .gender-term-box {
                background-color: $gray100;
                padding: 0.8rem 1.6rem;
                display: inline-block;
                margin: 0;
                font-size: 1.4rem;
                font-weight: 500;
                white-space: nowrap;
                color: $black;
                text-transform: uppercase;
                color: $black;
              }
            }
  }
  section.related.products{
    margin-bottom: $space-lg;
    h3{
      text-transform: uppercase;
      margin-bottom: .5rem;
    }
  }
  .single_add_to_cart_button{
        margin-left: 2rem;
      }
      .price,
      .price-wrp .price{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        flex-wrap: wrap;
        justify-content: flex-end;
        gap: 2rem;
        ins{
          text-decoration: none;
        }
        del{
            color: $gray300;
            font-size: 2.4rem;
            font-weight: 400 !important;
        }
        .amount{
          margin-top: 1.6rem;
            font-size: $fs-h2;
            font-family: $font-family-headings;
        }
      }
  .product-type-simple{
    .price{
      font-size: 4rem;
      font-family: $font-family-headings;
      margin-bottom: 1rem !important;
    }
    .simple-row{
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-wrap: wrap;
      gap: 2rem;
      &.between{
        justify-content: space-between;
        margin-bottom: 1rem;
      }
      
      .woocommerce-variation-sku{
            float: left;
            color: $gray500;
            font-size: 1.3rem;
            font-weight: 400;
            line-height: 150%; /* 19.5px */
          }
          .woocommerce-variation-availability{
            float: left;
            p.stock{
              font-size: 1.3rem;
              font-weight: 400;
              line-height: 150%; /* 19.5px */
              margin: 0;
              &.instock{
                color: $in-stock-color;
              }
              &.onbackorder{
                color: $on-back-order-color;
              }
              &.outofstock{
                color: $out-of-stock-color;
              }
            }
          }
      .quantity {
            display: inline-block;
            border: 1px solid $gray200;
            border-radius: 0px;
            background-color: #F8F8F8;
            margin-right: $space-sm;
            input {
              color: $gray900;
              padding: 13px;
              border: none;
              border-radius: 0px;
              font-size: 1.4rem;
              font-weight: 400;
              text-align: center;
              &.minus {
                cursor: pointer;
                padding-left: 1.6rem;
              }
              &.plus {
                cursor: pointer;
                padding-right: 1.6rem;
                color: $gray900;
              }
              &.qty {
                width: 5rem;
                position: relative;
                padding: 0px 1rem;
                color: $gray900;
                border-left: 1px solid $gray200;
                border-right: 1px solid $gray200;
              }
              &:hover,&:focus{
                box-shadow: none;
                color: $gray900;
              }
            }
          }
    }
  }
    }
}