@import "variables";
@import "mixins";

.product-card {
  .woocommerce-loop-product__link{
    text-decoration: none;
  }
  .content-product-thumbnail {
    overflow: hidden;
    height: auto !important;
    aspect-ratio: 6/8 !important;
    @supports not (aspect-ratio: 6/8){
      min-height: 400px;
      max-height: 410px;
    }
    .tags{
      position: absolute;
      top: $tags-position-top;
      left: $tags-position-left;
    }
    img{
      height: auto !important;
      background-color: $white;
      aspect-ratio: 6/8;
      object-fit: cover !important;
      @supports not (aspect-ratio: 6/8){
        min-height: 400px;
        max-height: 410px;
      }
    }
    .product-mask{
      opacity: 0;
      pointer-events: none;
      width: 100%;
      position: relative;
      text-align: center;
      transition: $trans;
      svg{
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 20px);
        transition: $trans;
      }
      span{
        color: $white;
        position: relative;
        display: inline-block;
        z-index: 1;
        padding-bottom: 1rem;
        font-size: 1.1rem;
        transition: $trans;
        opacity: 0;
      }
    }
  }
  .content-product{
    .content-product-excerpt{
      p{
        color: $gray500;
        font-size: 1.3rem;
        font-weight: 400;
        line-height: 150%; 
        margin: 0;
        -webkit-line-clamp: 2;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        font-family: 'ItalianPlate';
        em{
          font-size: inherit;
        }
      }
    }
    .content-product-footer{
      @include bp("lg") {
        flex-direction: row !important;
        align-items: flex-start;
      }
    }
    .content-product-footer .stock{
      text-transform: none !important;
      display: block !important;
    }
  }
  &:hover{
    .content-product-thumbnail{
      .product-mask{
        opacity: 1;
        transition: $trans-h;
        svg{
          transform: translate(-50%, 0px);
          transition: $trans-h;
        }
        span{
          opacity: 1;
          transition: $trans-h + 0.75s;
        }
      }
    }
  }
}