@import "variables";
@import "mixins";

body.single-product{
  div#main{
    background-color: $gray100;
  }
  nav.breadcrumbs{
    .container{
      padding: 0;
    }
  }
  
  .product-header{
    margin-bottom: 4rem;
    .gallery-col{
      position: relative;
      .keen-arrow{
        border-radius: 0;
        right: 1rem;
        top: 0;
        bottom: 0;
        cursor: pointer;
        transition: .3s;
        will-change: transform;
        transform-origin: center;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        &:hover{
          transform: scale(1.05);
        }
        &::after{
          height: 24px;
          width: 24px;
          min-height: 24px;
          min-width: 24px;
          aspect-ratio: 1/1;
          content: '';
          background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_948_496)'%3E%3Cpath d='M14.925 12L6.75 3.825L8.325 2.25L18.15 12L8.4 21.75L6.825 20.175L14.925 12Z' fill='black'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_948_496'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
          display: block;
        }
        &.left{
          right: unset;
          left: 1rem;
          justify-content: flex-start;
          &::after{
            background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_948_492)'%3E%3Cpath d='M17.4 3.825L15.825 2.25L6 12L15.675 21.75L17.325 20.175L9.15 12L17.4 3.825Z' fill='black'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_948_492'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
          }
        }
      }
      .tags{
        margin-bottom: 1rem;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 1rem;
        position: absolute;
        top: 1.7rem;
        left: 3rem;
        z-index: 1;
        @include bp(md){
          flex-direction: column;
          align-items: flex-start;
          gap: .2rem;
        }
      }
      .woocommerce-product-gallery__image[data-gallery-index="0"]{
        a > img{
          aspect-ratio: 1/1;
          object-fit: contain;
          background-color: $white;
        }
      }
      .thumbs{
        grid-template-columns: repeat(auto-fill, minmax(8.5rem, 1fr));
        gap: 8px;
        a > img{
          aspect-ratio: 1/1;
          object-fit: contain;
          background-color: $white;
        }
      }
    }
    .summary-col{
      .brand{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 1.6rem;
        margin-bottom: 1.6rem;
        *{
          margin: 0;
        }
        .cdc-logo{
          max-height: 3.2rem;
        }
        .brand-name{
          font-size: 3rem;
          text-transform: uppercase;
          font-weight: 400;
          color: $gray400;
          font-family: 'GreedNarrow', sans-serifx;
        }
      }
      h1{
        margin-bottom: 0.8rem;
      }
      .price,
      .price-wrp .price{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        flex-wrap: wrap;
        justify-content: flex-end;
        gap: 2rem;
          margin-top: 1.6rem;

        ins{
          text-decoration: none;
        }
        del{
            color: $gray300;
            font-size: 2.4rem;
            font-weight: 400 !important;
            text-decoration: none;
            bdi{
              font-size: 2.4rem;
              font-weight: 700 !important;
              color: $gray300;
              text-decoration: line-through;
              font-family: 'Roboto', sans-serif;
            }
        }
        .amount{
            font-size: $fs-h2;
            font-family: $font-family-headings;
            color: #FF746C;
        }
      }
      .price-wrp-hide {
        display: none;
      }
      .collection-terms{
        margin-bottom: 1rem;
        span{
          color: $gray400;
          font-size: 1.4rem;
          font-weight: 700;
          text-transform: uppercase;
          line-height: 150%;
        }
      }
      .color-term{
        color: $gray400;
          font-size: 1.3rem;
          font-weight: 400;
          line-height: 150%;
          margin-top: 1rem;
          &.heading{
            font-weight: 700;
            text-transform: uppercase;
          }
      }
      .woocommerce-product-details__short-description{
        p{
          color: $gray600;
          font-size: $fs-h4;
          line-height: 150%; 
          margin-bottom: 1rem;
          font-family: 'ItalianPlate', sans-serif;
        }
        i, em{
          font-size: inherit;
        }
      }
      .variations_form{
        margin-top: 1.6rem;
      }
      .related-products-thumbnails{
              display: flex;
              flex-wrap: wrap;
              gap: 0.8rem;
              .related-product-thumbnail{
                max-width: 6rem;
                img{
                  border: 1px solid $gray300;
                  border-radius: 2px;
                  transition: $trans;
                  aspect-ratio: 1/1;
                  object-fit: contain;
                  background-color: $white;
                }
                &.current-selected{
                  a{
                    pointer-events: none;
                  }
                  img{
                    border: 1px solid $col-prm;
                  }
                  &:hover{
                   img{
                    border: 1px solid $col-prm;
                   }
                  }
                }
                &:hover{
                  img{
                    border: 1px solid $col-prm;
                    transition: $trans-h;
                  }
                }
              }
            }
      .single_variation_wrap{
        table.variations{
          width: 100%;
          select{
            width: 100%;
            cursor: pointer;
          }
        }
        
        .single_variation{
          .woocommerce-variation-price{
            del{
              text-decoration: none;
              bdi{
                font-size: 2.4rem;
                font-weight: 700 !important;
                color: $gray300;
                text-decoration: line-through;
                font-family: 'Roboto', sans-serif;
              }
            }
            .amount{
              margin-top: 0 !important;
              font-size: $fs-h2;
              font-family: $font-family-headings;
            }
          }
          .woocommerce-variation-sku{
            float: left;
            color: $gray500;
            font-size: 1.3rem;
            font-weight: 400;
            line-height: 150%; /* 19.5px */
          }
          .woocommerce-variation-availability{
            float: left;
            p.stock{
              font-size: 1.3rem;
              font-weight: 400;
              line-height: 150%; /* 19.5px */
              &.instock{
                color: $in-stock-color;
              }
              &.onbackorder{
                color: $on-back-order-color;
              }
              &.outofstock{
                color: $out-of-stock-color;
              }
            }
          }
        }
        .woocommerce-variation-add-to-cart{
          margin-top: $space-sm;
          display: flex;
          flex-wrap: wrap;
          gap: 1.6rem;
          &.woocommerce-variation-add-to-cart-disabled{
            opacity: .5;
            pointer-events: none;
            cursor: not-allowed !important;
          }
          .quantity {
            display: inline-block;
            border: 1px solid $gray200;
            border-radius: 0px;
            background-color: #F8F8F8;
            margin-right: $space-sm;
            input {
              color: $gray900;
              padding: 13px;
              border: none;
              border-radius: 0px;
              font-size: 1.4rem;
              font-weight: 400;
              text-align: center;
              &.minus {
                cursor: pointer;
                padding-left: 1.6rem;
              }
              &.plus {
                cursor: pointer;
                padding-right: 1.6rem;
                color: $gray900;
              }
              &.qty {
                width: 5rem;
                position: relative;
                padding: 0px 1rem;
                color: $gray900;
                border-left: 1px solid $gray200;
                border-right: 1px solid $gray200;
              }
              &:hover,&:focus{
                box-shadow: none;
                color: $gray900;
              }
            }
          }
        }
      }
    }

    .product-genders {
      margin-bottom: 1.6rem;
              display: flex;
              align-items: center;
              justify-content: flex-start;
              flex-wrap: wrap;
              gap: 0.5rem;
              .gender-term-box {
                background-color: $white;
                padding: 0.8rem 1.6rem;
                display: inline-block;
                margin: 0;
                font-size: 1.4rem;
                font-weight: 500;
                white-space: nowrap;
                color: $black;
                text-transform: uppercase;
                color: $black;
              }
            }
  }
  .inoby-slider-gallery {
    .gallery {
      align-items: center;
      padding: 0;

    .image-wrapper{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 10px;
      height: 100%;
      width: 100%;
        img {
          object-fit: cover;
          aspect-ratio: 16/9;
          object-position: top;
          width: 100%;
          transition: .3s;
          @include bp(md){
            height: 400px;
          }
        }
    }
    .dots{
      bottom: 3.4rem;
      gap: .8rem;
      .dot{
        background: none;
        width: fit-content;
        padding: 0;
        margin: 0;
        height: fit-content;
        &::after{
          content: '';
          background-image: url("data:image/svg+xml,%3Csvg width='17' height='14' viewBox='0 0 17 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.8908 6.44408L14.7276 4.434C14.5286 4.09263 14.1651 3.88094 13.7691 3.88094H11.7182V2.48876C11.7182 2.09399 11.5059 1.72974 11.1634 1.53331L8.75288 0.148754C8.41043 -0.0495845 7.98954 -0.0495845 7.64326 0.148754L5.23846 1.53331C4.89601 1.73164 4.68366 2.09399 4.68366 2.48876V3.88285H2.6347C2.23868 3.88285 1.87518 4.09263 1.67622 4.434L0.509209 6.44408C0.310244 6.78545 0.310244 7.20883 0.509209 7.5502L1.67622 9.56409C1.87518 9.90546 2.23868 10.1172 2.6347 10.1172H4.68366V11.5093C4.68366 11.9041 4.8941 12.2684 5.23655 12.4648L7.64135 13.8512C7.9838 14.0496 8.40852 14.0496 8.75097 13.8512L11.1596 12.4648C11.502 12.2664 11.7144 11.9041 11.7144 11.5093V10.1172H13.7634C14.1594 10.1172 14.5248 9.90546 14.7218 9.56409L15.8908 7.54829C16.0897 7.20692 16.0897 6.78736 15.8908 6.44217H15.8927L15.8908 6.44408Z' fill='white'/%3E%3C/svg%3E%0A");
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
          display: block;
          width: 16px;
          height: 14px;
          min-height: 14px;
          min-width: 16px;
          transition: .3s;
        }
        &:not(.active){
          &::after{
            opacity: .5;
          }
        }
        &:hover{
          &::after{
            opacity: 1;
          }
        
        }
      }
    }
    .keen-arrow{
      height: 44px;
      width: 44px;
      min-height: 44px;
      min-width: 44px;
      aspect-ratio: 1/1;
      background-color: $black;
      border-radius: 0;
      top: auto;
      padding: 1rem;
      right: 1rem;
      cursor: pointer;
      transition: .3s;
      will-change: transform;
      transform-origin: center;
      &:hover{
        transform: scale(1.05);
      }
      &:active{
        transform: scale(.8);
      }
      &::after{
        content: '';
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.925 12L6.75 3.825L8.325 2.25L18.15 12L8.4 21.75L6.825 20.175L14.925 12Z' fill='white'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        height: 100%;
        width: 100%;
        display: block;
      }
      &.left{
        right: unset;
        left: 1rem;
        &::after{
          background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.4 3.825L15.825 2.25L6 12L15.675 21.75L17.325 20.175L9.15 12L17.4 3.825Z' fill='white'/%3E%3C/svg%3E%0A");
        }
      }
    }
  }
}
  section.product-description{
    padding: $space-regular 0;
    background-color: $white;
    .content-wrap{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 2rem;
      p{
        flex: 1 0 calc(50% - 2rem);
        max-width: calc(50% - 2rem);
        color: $black;
        @include bp(md){
          flex: 1 0 100%;
          max-width: 100%;
        }
      }
    }
  }
  section.product-tabs{
    padding: $space-lg 0 $space-lg;
    margin-top: $space-md;
    .row{
      justify-content: center;
    }
    .table-heading{
      color: $black;
      text-transform: uppercase;
      margin-bottom: 1.6rem;
    }
    .table-description{
      margin-top: 1.6rem;
    }
    .table-wrap{
      width: 100%;
      position: relative;
      overflow: hidden;
    }
    .grid-wrap{
    width: 100%;
    overflow: auto;
    position: relative;
    &.has-icon{
      padding-left: 260px;
      @include bp(md){
        position: unset;
        padding-left: 0;
        padding-top: 300px;
      }
    }
    
  }
  .grid-container {
  display: grid;
  padding: 10px;
  &:first-child{
    padding-bottom: 0;
  }
  &:last-child{
    padding-top: 0;
  }
  .grid-row{
    display: inline-grid;
    &:hover{
      .grid-item{
        .icon{
          display: block;
        }
      }
    }
  }
  &.columns-1{
    .grid-row{
      grid-template-columns: repeat(2, minmax(80px, 1fr));
    }
  }
  &.columns-2{
    .grid-row{
      grid-template-columns: repeat(3, minmax(80px, 1fr));
    }
  }
  &.columns-3{
    .grid-row{
      grid-template-columns: repeat(4, minmax(80px, 1fr));
    }
  }
  &.columns-4{
    .grid-row{
      grid-template-columns: repeat(5, minmax(80px, 1fr));
    }
  }
  &.columns-5{
    .grid-row{
      grid-template-columns: repeat(6, minmax(80px, 1fr));
      .grid-item{
        padding-inline: 10px;
      }
    }
  }
  &.columns-6{
    .grid-row{
      grid-template-columns: repeat(7, minmax(80px, 1fr));
      .grid-item{
        padding-inline: 10px;
      }
    }
  }
  &.columns-7{
    .grid-row{
      grid-template-columns: repeat(8, minmax(80px, 1fr));
      .grid-item{
        padding-inline: 5px;
      }
    }
  }
  &.columns-8{
    .grid-row{
      grid-template-columns: repeat(9, minmax(80px, 1fr));
      .grid-item{
        padding-inline: 5px;
      }
    }
  }
  &.columns-9{
    .grid-row{
      grid-template-columns: repeat(10, minmax(80px, 1fr));
      .grid-item{
        padding-inline: 5px;
      }
    }
  }
  &.columns-10{
    .grid-row{
      grid-template-columns: repeat(11, minmax(80px, 1fr));
      .grid-item{
        padding-inline: 5px;
      }
    }
  }
  &.columns-11{
    .grid-row{
      grid-template-columns: repeat(12, minmax(80px, 1fr));
      .grid-item{
        padding-inline: 5px;
      }
    }
  }
  &.columns-12{
    .grid-row{
      grid-template-columns: repeat(13, minmax(80px, 1fr));
      .grid-item{
        padding-inline: 5px;
      }
    }
  }
}

.grid-item {
  padding: 20px;
  font-size: 1.4rem;
  font-family: 'Roboto', sans-serif;
  font-weight: $fw-regular;
  color: $gray500;
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.12);
  text-align: left;
  transition: .3s;
  display: flex;
  align-items: center;
  &.regular{
    text-align: center;
    &:hover{
      background-color: $black;
      color: $white;
    }
  }
  &:first-of-type{
    grid-column: span 2;
  }
  strong{
    font-family: 'ItalianPlateItalic', sans-serif;
      font-size: $fs-h4;
      text-transform: none;
      font-weight: $fw-regular;
      color: $black;
      @include bp(md){
      font-size: $fs-p;
    }
  }
  .icon{
    width: 240px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: contain;
    background-color: $white;
    border-radius: 4px;
    overflow: hidden;
    display: none;
    @include bp(md){
      width: 100%;
      height: 280px;
    }
  }
  &.heading{
    font-size: 1.4rem;
    font-weight: $fw-regular;
    font-family: 'Roboto', sans-serif;
    color: $black;
    text-transform: uppercase;
    text-align: center;
    &:first-child{
      font-family: 'ItalianPlateItalic';
      font-size: $fs-h4;
      text-transform: none;
      text-align: left;
      @include bp(md){
      font-size: $fs-p;
    }
    }
  }
}
.grid-row:first-of-type .grid-item .icon{
  display: block;
}
    ul.tabs{
      list-style: none;
      display: flex;
      padding: 0;
      margin: 0 0 $space-sm;
      @include bp(md){
        flex-direction: column;
      }
      li[role="tab"]{
        min-width: 33.33%;
        a{
          padding-bottom: 1.6rem;
          padding-right: 1.6rem;
          border-bottom: 4px solid $gray200;
          color: $gray800;
          font-size: 1.4rem;
          font-weight: 600;
          text-transform: uppercase;
          text-decoration: none;
          display: flex;
          align-items: center;
          line-height: 1;
          gap: 8px;
          @include bp(md){
            border-bottom: 0;
            border-left: 4px solid $gray200;
            padding-top: 1.6rem;
            padding-left: 1.6rem;
          } 
          &:before{
            content: url(theme-url("/assets/icons/tab.svg"));
          }
        }
        
        &.active{
          a{
            border-color: $col-prm;
            color: $black;
            &:before{
              content: url(theme-url("/assets/icons/tab-active.svg"));
            }
          }
        }

        &.disabled{
          a{
            border-color: $gray200;
            color: $gray800;
            &:before{
            content: url(theme-url("/assets/icons/tab.svg"));
            }
          }
        }
      }
    }
    .wc-tab{
      color: $black;
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 150%;
      *{
        color: $black;
      }
      &.hidden{
        display: none !important;
      }
    }
  }
  section.related.products {
        margin-top: $space-md;
        margin-bottom: $space-lg;
        margin-inline: auto;
        .product-card.content-product-wrap.product{
          padding: 0;
        }
        .content-product{
          row-gap: .5rem !important;
          h3{
            margin-bottom: 0 !important;
          }
        }
        #products{
          cursor: grab;
        }
        .col-12.wrap{
          .heading-wrap {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            margin-bottom: $space-md;
            height: 4.4rem;
            >h2{
              font-size: $fs-h3;
              text-transform: uppercase;
              margin-bottom: 0;
              @include bp(md){
                font-size: $fs-h4;
              }
              @include bp(sm){
                font-size: 1.8rem;
              }
            }
          }
        }
          .keen-arrow{
            position: absolute;
            width: 44px;
            height: 44px;
            min-height: 44px;
            min-width: 44px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $black;
            transition: .3s;
            cursor: pointer;
            top: 0;
            &:hover{
              opacity: .8;
            }
            &::after{
              content: url(theme-url("/assets/icons/keen-slider-arrow-prev.svg"));
              position: absolute;
              left: auto !important;
              right: auto !important;
              bottom: auto !important;
              top: auto !important;
              width: 24px;
              min-width: 24px;
              height: 28px;
              min-height: 28px;
            }
            &.left{
              right: calc(4.4rem + 1.6rem);
              left: unset;
              @include bp(md){
                right: calc(4.4rem + 1.6rem + 1.5rem);
              }
            }
            &.right{
              @include bp(md){
                right: 1.5rem;
              }
              &::after{
                content: url(theme-url("/assets/icons/keen-slider-arrow-next.svg"));
              }

            }
          }
      }
  .product-type-simple{
    .price{
      font-size: 4rem;
      font-family: $font-family-headings;
      margin-bottom: 1rem !important;
    }
    .simple-row{
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-wrap: wrap;
      gap: 2rem;
      &.between{
        justify-content: space-between;
        margin-bottom: 1rem;
      }
      .woocommerce-variation-sku{
            float: left;
            color: $gray500;
            font-size: 1.3rem;
            font-weight: 400;
            line-height: 150%; /* 19.5px */
          }
          .woocommerce-variation-availability{
            float: left;
            p.stock{
              font-size: 1.3rem;
              font-weight: 400;
              line-height: 150%; /* 19.5px */
              margin: 0;
              &.instock{
                color: $in-stock-color;
              }
              &.onbackorder{
                color: $on-back-order-color;
              }
              &.outofstock{
                color: $out-of-stock-color;
              }
            }
          }
      .quantity {
            display: inline-block;
            border: 1px solid $gray200;
            border-radius: 0px;
            background-color: #F8F8F8;
            margin-right: $space-sm;
            input {
              color: $gray900;
              padding: 13px;
              border: none;
              border-radius: 0px;
              font-size: 1.4rem;
              font-weight: 400;
              text-align: center;
              &.minus {
                cursor: pointer;
                padding-left: 1.6rem;
              }
              &.plus {
                cursor: pointer;
                padding-right: 1.6rem;
                color: $gray900;
              }
              &.qty {
                width: 5rem;
                position: relative;
                padding: 0px 1rem;
                color: $gray900;
                border-left: 1px solid $gray200;
                border-right: 1px solid $gray200;
              }
              &:hover,&:focus{
                box-shadow: none;
                color: $gray900;
              }
            }
          }
    }
  }
  .woocommerce-product-gallery{
    .keen-slider{
      margin-bottom: 1.6rem;
      .dots{
        padding: 1rem 0 0 0;
        gap: .8rem;
        .dot{
              background: none;
              width: fit-content;
              padding: 0;
              margin: 0;
              height: fit-content;
              cursor: pointer;
              &::after{
                content: '';
                background-image: url("data:image/svg+xml,%3Csvg width='17' height='14' viewBox='0 0 17 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.8908 6.44408L14.7276 4.434C14.5286 4.09263 14.1651 3.88094 13.7691 3.88094H11.7182V2.48876C11.7182 2.09399 11.5059 1.72974 11.1634 1.53331L8.75288 0.148754C8.41043 -0.0495845 7.98954 -0.0495845 7.64326 0.148754L5.23846 1.53331C4.89601 1.73164 4.68366 2.09399 4.68366 2.48876V3.88285H2.6347C2.23868 3.88285 1.87518 4.09263 1.67622 4.434L0.509209 6.44408C0.310244 6.78545 0.310244 7.20883 0.509209 7.5502L1.67622 9.56409C1.87518 9.90546 2.23868 10.1172 2.6347 10.1172H4.68366V11.5093C4.68366 11.9041 4.8941 12.2684 5.23655 12.4648L7.64135 13.8512C7.9838 14.0496 8.40852 14.0496 8.75097 13.8512L11.1596 12.4648C11.502 12.2664 11.7144 11.9041 11.7144 11.5093V10.1172H13.7634C14.1594 10.1172 14.5248 9.90546 14.7218 9.56409L15.8908 7.54829C16.0897 7.20692 16.0897 6.78736 15.8908 6.44217H15.8927L15.8908 6.44408Z' fill='black'/%3E%3C/svg%3E%0A");
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                display: block;
                width: 16px;
                height: 14px;
                min-height: 14px;
                min-width: 16px;
                transition: .3s;
              }
              &:not(.active){
                &::after{
                  opacity: .3;
                }
              }
              &:hover{
                &::after{
                  opacity: 1;
                }
              
              }
            }
      }
    }

  }
}
.button.disabled, button:not(.gbtn):not([class*=plyr]).disabled{
  cursor: not-allowed !important;
}