@import "variables";
@import "mixins";

.component-newsletter {
  position: relative;
  background-color: $white;
  // padding: $space-regular 0;
  color: $white;
  padding: 10rem 0;
  @include bp('md'){
    padding: $space-md 0;
  }
  h2.newsletter-heading{
    margin-bottom: 0.8rem;
    color: $black;
  }
  p.newsletter-text{
    margin-bottom: 0;
    color: $gray700;
  }
  h4.newsletter-curved{
    color: $black;
    font-family: 'ItalianPlateItalic', sans-serif;
    margin-bottom: 1.6rem;
  }
  .newsletter-col{
    .newsletter-box{
      max-width: 70%;
      @include bp(md){
        max-width: 100%;
      }
    }
  }
  .newsletter-form {
    display: block;
    .newsletter-inner-wrap{
      display: grid;
      grid-template-columns: 1fr 16rem;
      gap: 1.5rem;
      @include bp('sm'){
        grid-template-columns: 1fr;
      }
      .input-wrap{
        label.inplace-label{
          color: $white;
          &:after{
              background: $gray900;
          }
          @include bp('md'){
            display: none;
          }
        }
        input{
          width: 100%;
          line-height: 1;
          color: $white;
        }
      }
    }
    .button-wrap{
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-top: 1.6rem;
      button{
        @include bp('md'){
          max-width: calc(100% - 3rem);
        }
        @include bp('sm'){
          width: 100%;
        }
      }
    }
    .gdpr-inner-wrap{
      display: flex;
      align-items: center;
      gap: $space-xs;
      margin-top: $space-xs;
      @include bp('sm'){
        align-items: flex-start;
      }
      input{
        cursor: pointer;
      }
      label{
        font-size: 1.3rem;
        color: $gray700;
        cursor: pointer;
        margin: 0 0 -2px;
        @include bp('sm'){
          margin: 0 0 -2px;
        }
      }
    }
  }
}
